Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx",
    "tslint -c tslint.json",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

fix(tooltip): base tooltip ref
  src/Tooltip/BaseTooltip.tsx
  src/Tooltip/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v2.0.0-beta.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(input): add prefix/suffix to input (#417)
  src/Button/index.tsx
  src/Input/index.mdx
  src/Input/index.tsx
  test/test-utils.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(grid): add lineHeight, background, zIndex and textAlign to Box
  src/Grid/Box.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v2.0.0-beta.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(mention): set height to auto
  src/Mention/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(date-picker): missing global styles
  src/GlobalStyle/index.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v2.0.0-beta.3
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat: add esc to trigger
  src/Modal/BaseModal.tsx
  src/Tooltip/index.tsx
  src/Trigger/index.tsx
  src/utils/Keydown.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix: filter html attrs
  .eslintignore
  package.json
  src/Alert/BaseAlert.tsx
  src/Button/Ripple.tsx
  src/Button/index.tsx
  src/Card/Card.tsx
  src/Checkbox/Checkbox.tsx
  src/Checkbox/CheckboxGroup.tsx
  src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  src/Dropdown/Item.tsx
  src/Dropdown/List.tsx
  src/Dropdown/SubList.tsx
  src/Form/FormField.tsx
  src/Grid/Box.tsx
  src/Grid/Space.tsx
  src/Heading/index.tsx
  src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  src/Icon/index.tsx
  src/Input/index.tsx
  src/Mention/index.tsx
  src/Menu/Item.tsx
  src/Modal/BaseModal.tsx
  src/Modal/index.tsx
  src/Radio/Radio.tsx
  src/Radio/RadioGroup.tsx
  src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  src/Steps/index.tsx
  src/Table/index.tsx
  src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  src/Tabs/index.tsx
  src/Tag/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/Trigger/index.tsx
  src/utils/CleanTag.tsx
  tsconfig.json
  typings/custom-typings.d.ts
  typings/index.d.ts
  typings/react-spring.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

v2.0.0-beta.4
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: clean tag ref
  package.json
  src/Button/index.tsx
  src/utils/CleanTag.tsx
  typings/custom-typings.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

v2.0.0-beta.5
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(mention): create same prefix mention (#426)
  src/Mention/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

docz(input): fix prefix & suffix
  src/Input/index.mdx
Due: none

test(Alert): add tests and snapshot for Alert
  jest.config.js
  package.json
  src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  src/Alert/__tests__/index.spec.tsx
  src/Alert/index.tsx
  test/jest.setup.ts
  typings/index.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

test(Button): add tests and snapshots for Button
  src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  src/Button/__tests__/index.spec.tsx
  src/Button/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  src/Alert/index.tsx
  src/Dropdown/DropdownContext.ts
  src/Modal/BaseModal.tsx
  src/Tooltip/BaseTooltip.tsx
  src/Trigger/index.tsx
  src/message/Message.tsx
  test/test-utils.tsx
  tsconfig.json
  typings/index.d.ts
  typings/react-spring.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat: add css props support
  src/Alert/BaseAlert.tsx
  src/Alert/ClosableAlert.tsx
  src/Alert/index.tsx
  src/Button/index.tsx
  src/Card/Card.tsx
  src/Card/CardBlock.tsx
  src/Card/CardImage.tsx
  src/Dropdown/Item.tsx
  src/Dropdown/List.tsx
  src/Form/FormField.tsx
  src/Form/Hint.tsx
  src/Form/Label.tsx
  src/Grid/Box.tsx
  src/Grid/Space.tsx
  src/Heading/index.tsx
  src/Icon/index.tsx
  src/Input/index.tsx
  src/Modal/BaseModal.tsx
  src/Select/index.tsx
  src/Table/index.tsx
  src/Tabs/index.tsx
  src/Tag/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/utils/css.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

style(tabs): update tabs styles
  src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  src/Tabs/__tests__/index.spec.tsx
  src/Tabs/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

docs: update route structure
  src/Alert/index.mdx
  src/Button/index.mdx
  src/Card/index.mdx
  src/Checkbox/index.mdx
  src/DatePicker/index.mdx
  src/Dropdown/index.mdx
  src/Grid/Space.mdx
  src/Grid/index.mdx
  src/Heading/index.mdx
  src/Icon/index.mdx
  src/Input/index.mdx
  src/Mention/index.mdx
  src/Menu/index.mdx
  src/Modal/index.mdx
  src/Popconfirm/index.mdx
  src/Popover/index.mdx
  src/Radio/index.mdx
  src/Select/index.mdx
  src/Spin/index.mdx
  src/Steps/index.mdx
  src/Switch/index.mdx
  src/Table/index.mdx
  src/Tabs/index.mdx
  src/Tag/index.mdx
  src/TextField/index.mdx
  src/Tooltip/index.mdx
  src/message/index.mdx
Due: none

test(Card): add tests and snapshots for Card
  src/Card/Card.tsx
  src/Card/__tests__/__snapshots__/index.spec.tsx.snap
  src/Card/__tests__/index.spec.tsx
  src/Card/index.mdx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(Checkbox): add tests and snapshots for Checkbox
  src/Checkbox/Checkbox.tsx
  src/Checkbox/CheckboxContext.ts
  src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  src/Checkbox/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(Tag): add tests and snapshots for Tag
  src/Alert/__tests__/index.spec.tsx
  src/Tag/__tests__/index.spec.tsx
  src/Tag/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(Table): add tests and snapshots for Table
  src/Table/__tests__/__snapshots__/index.spec.tsx.snap
  src/Table/__tests__/index.spec.tsx
  src/Table/index.mdx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(Heading): add tests and snapshots for Heading
  src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  src/Heading/__tests__/index.spec.tsx
  src/Heading/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(button): add text type button (#425)
  src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  src/Button/__tests__/index.spec.tsx
  src/Button/index.mdx
  src/Button/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(input): add Input & Textarea tests
  src/Input/__tests__/Input.spec.tsx
  src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(input): put Textarea tests to separated file
  src/Input/__tests__/Input.spec.tsx
  src/Input/__tests__/Textarea.spec.tsx
  src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(Spin): add tests and snapshots for Spin
  src/Spin/__tests__/__snapshots__/index.spec.tsx.snap
  src/Spin/__tests__/index.spec.tsx
  src/Spin/index.mdx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

refactor: prefer SFC
  src/Checkbox/Checkbox.tsx
  src/Dropdown/index.tsx
  src/Menu/index.tsx
  src/Modal/index.tsx
  src/Radio/Radio.tsx
  src/Steps/index.tsx
  src/Trigger/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps
  doczrc.js
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

v2.0.0-beta.6
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(dropdown): default props
  src/Dropdown/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(dropdown): add tests and snapshots for dropdown
  package.json
  src/Dropdown/List.tsx
  src/Dropdown/SubList.tsx
  src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  src/Dropdown/__tests__/index.spec.tsx
  src/Dropdown/index.mdx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

add npm ci badge
  docs/README.md
Due: prettier --write

v2.0.0-beta.7
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(card): onClick event
  src/Card/Card.tsx
  src/Card/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v2.0.0-beta.8
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps
  doczrc.js
  package.json
  src/Alert/ClosableAlert.tsx
  src/Modal/index.mdx
  src/message/index.mdx
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write
