Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "tslint -c tslint.json",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

feat(menu): add new menu implement to lab (#34)
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/Upload/Upload.tsx
  src/lab/Menu/Menu.mdx
  src/lab/Menu/Menu.tsx
  src/lab/Menu/MenuContext.ts
  src/lab/Menu/MenuDivider.tsx
  src/lab/Menu/MenuItem.tsx
  src/lab/Menu/SubMenu.tsx
  src/lab/Menu/SubMenuContent.tsx
  src/lab/Menu/index.ts
  src/lab/Menu/styles.ts
  src/lab/index.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

v0.2.7
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: bump deps (#40)
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  src/Button/Button.tsx
  src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  src/Card/__tests__/__snapshots__/index.spec.tsx.snap
  src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  src/Dropdown/__tests__/index.spec.tsx
  src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(select): add search icon
  src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

refactor(trigger): use transform instead of top/left to improve performance
  src/Dropdown/List.tsx
  src/Tooltip/BaseTooltip.tsx
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

refactor(trigger): use transform instead of top/left to improve performance
  src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Tooltip/BaseTooltip.tsx
  src/Tooltip/Tooltip.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(select): add search icon (#43)
  src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(tel-input): implement TelInput
  package.json
  src/TelInput/TelInput.mdx
  src/TelInput/TelInput.tsx
  src/TelInput/flags.ts
  src/TelInput/flags@2x.ts
  src/TelInput/index.ts
  src/TelInput/style.ts
  src/__tests__/index.spec.ts
  src/index.ts
  typings/custom-typings.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

v0.2.8
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(menu): use default export
  jest.config.js
  src/NewMenu/Menu.mdx
  src/NewMenu/Menu.tsx
  src/NewMenu/MenuContext.ts
  src/NewMenu/MenuDivider.tsx
  src/NewMenu/MenuItem.tsx
  src/NewMenu/SubMenu.tsx
  src/NewMenu/SubMenuContent.tsx
  src/NewMenu/index.ts
  src/NewMenu/styles.ts
  src/__tests__/index.spec.ts
  src/index.ts
  src/lab/index.ts
  typings/index.d.ts
  typings/react-spring.d.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

v0.2.9
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: fallback react to 16.8-alpha.0
  package.json
  src/Input/Input.tsx
  src/NewMenu/SubMenu.tsx
  src/NewMenu/styles.ts
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Tooltip/BaseTooltip.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

v0.2.10
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(tooltip): add mouseEnterDelay and mouseLeaveDelay to Tooltip
  src/Tooltip/Tooltip.mdx
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

chore: remove useless clean tag
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: bump deps
  jest.config.js
  package.json
  src/Alert/ClosableAlert.tsx
  src/Dropdown/Item.tsx
  src/Dropdown/SubList.tsx
  src/NewMenu/Menu.tsx
  src/NewMenu/SubMenuContent.tsx
  src/NewMenu/styles.ts
  src/Steps/Steps.tsx
  src/utils/Portal.tsx
  src/utils/styled-components.ts
  test/test-utils.tsx
  tslint.json
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: upgrade react-spring
  package.json
  src/Alert/BaseAlert.tsx
  src/Alert/ClosableAlert.tsx
  src/Backdrop/Backdrop.tsx
  src/Drawer/Drawer.tsx
  src/Dropdown/List.tsx
  src/Input/Input.tsx
  src/Menu/Menu.mdx
  src/Menu/Menu.tsx
  src/Menu/MenuContext.ts
  src/Menu/SubMenu.tsx
  src/Modal/BaseModal.tsx
  src/NewMenu/Menu.tsx
  src/NewMenu/styles.ts
  src/Tag/Tag.tsx
  src/Tag/__tests__/index.spec.tsx
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/message/MessageHub.tsx
  src/utils/type.ts
  src/utils/useMeasure.ts
  typings/index.d.ts
  typings/react-spring.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

Upgrade react-spring (#54)
  package.json
  src/Alert/BaseAlert.tsx
  src/Alert/ClosableAlert.tsx
  src/Backdrop/Backdrop.tsx
  src/Drawer/Drawer.tsx
  src/Dropdown/List.tsx
  src/Input/Input.tsx
  src/Menu/Menu.mdx
  src/Menu/Menu.tsx
  src/Menu/MenuContext.ts
  src/Menu/SubMenu.tsx
  src/Modal/BaseModal.tsx
  src/NewMenu/Menu.tsx
  src/NewMenu/styles.ts
  src/Tag/Tag.tsx
  src/Tag/__tests__/index.spec.tsx
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/message/MessageHub.tsx
  src/utils/type.ts
  src/utils/useMeasure.ts
  typings/index.d.ts
  typings/react-spring.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

style(menu): add tooltip mouse enter delay
  src/NewMenu/SubMenu.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(trigger): auto fix placement when popup overflow
  src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/Trigger/getPosition.ts
  src/Trigger/getTransitionProps.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(trigger): implement rect observer
  package.json
  src/Tooltip/Tooltip.mdx
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/Trigger/getPosition.ts
  src/utils/createUuidGenerator.ts
  src/utils/rect-observer.tsx
  src/utils/type.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(checkbox): spread other props to correct component
  src/Checkbox/Checkbox.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(radio): spread other props to correct component
  src/Radio/Radio.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v0.2.11
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(Icon): prevent show tooltips on hover SVG
  src/GlobalStyle/index.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

docs: fix lab/menu component name and update readme
  README.md
  docs/lab/Menu.mdx
Due: prettier --write

feat(layout): add the layout menu
  README.md
  docs/Box.mdx
  docs/Flex.mdx
  docs/Grid.mdx
  docs/Space.mdx
  docs/spacing-scale.mdx
Due: prettier --write

feat(trigger): add autoTransferPlacement
  packages/tailor-ui/src/Dropdown/Dropdown.tsx
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Trigger/Trigger.tsx
  packages/tailor-ui/src/Trigger/getPosition.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write
