Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

v0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(modal): instance mount root z-index
  src/Modal/instance.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(modal): instance mount root z-index (#13)
  src/Modal/instance.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v0.2.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(drawer): add press esc key to close drawer
  src/Drawer/Drawer.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix: babel runtime
  .babelrc
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

fix: useKeydown effect
  src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(drawer): add press esc key to close drawer (#14)
  src/Drawer/Drawer.tsx
  src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v0.2.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

docs(tabs): fix component usage
  src/Tabs/Tabs.mdx
Due: prettier --write

style: update divider style
  src/Divider/Divider.tsx
  src/Divider/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(drawer): pass other props to drawer content
  src/Drawer/Drawer.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

test(swtich): add swtich tests
  src/Switch/Switch.tsx
  src/Switch/__tests__/__snapshots__/index.spec.tsx.snap
  src/Switch/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps (#19)
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

v0.2.3
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(divider): pass other props to component for spacing
  src/Divider/Divider.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v0.2.4
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

docs(steps): fix component path
  src/Steps/Steps.mdx
Due: prettier --write

feat(menu): add current sub only support
  src/Menu/Menu.mdx
  src/Menu/Menu.tsx
  src/Menu/MenuContext.ts
  src/Menu/SubMenu.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

feat(select): support creatable
  src/Select/Select.mdx
  src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

fix(tooltip): z-index must more than Modal
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/utils/Portal.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(menu): add current sub only support (#25)
  src/Menu/Menu.mdx
  src/Menu/Menu.tsx
  src/Menu/MenuContext.ts
  src/Menu/SubMenu.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

docs(steps): fix component path (#24)
  src/Steps/Steps.mdx
Due: prettier --write

feat(select): support creatable (#23)
  src/Select/Select.mdx
  src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

fix(tooltip): z-index must more than Modal (#26)
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/utils/Portal.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v0.2.5
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps
  doczrc.js
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(upload): add onBeforeSelect & show clear icon when uploaded
  src/Upload/Upload.mdx
  src/Upload/Upload.tsx
  tslint.json
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

v0.2.6
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

refactor(message): new style & implement
  src/message/MessageHub.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(message): upgrade spring types
  package.json
  src/Drawer/Drawer.tsx
  src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  src/Tooltip/BaseTooltip.tsx
  src/message/MessageHub.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor: change children type and setup commitizen config
  docz/DoczWrapper.tsx
  package.json
  src/UIProvider/UIProvider.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor: fix a few typos
  src/Checkbox/Checkbox.tsx
  src/Radio/Radio.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(upload): customize text
  src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(message): add cancel button to message
  src/message/MessageHub.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(upload): customize text (#35)
  src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(menu): add new menu implement to lab
  src/Tooltip/Tooltip.tsx
  src/Trigger/Trigger.tsx
  src/Upload/Upload.tsx
  src/lab/Menu/Menu.mdx
  src/lab/Menu/Menu.tsx
  src/lab/Menu/MenuContext.ts
  src/lab/Menu/MenuDivider.tsx
  src/lab/Menu/MenuItem.tsx
  src/lab/Menu/SubMeneContent.tsx
  src/lab/Menu/SubMenu.tsx
  src/lab/Menu/index.ts
  src/lab/Menu/styles.ts
  src/lab/index.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write

fix(menu): typo
  src/lab/Menu/SubMenu.tsx
  src/lab/Menu/SubMenuContent.tsx
  src/lab/Menu/styles.ts
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(message): add cancel button to message (#36)
  src/message/MessageHub.tsx
Due: eslint --ext=ts,tsx --fix, tslint -c tslint.json, stylelint, prettier --parser typescript --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{ts,tsx}
  tslint -c tslint.json: any of: *.{ts,tsx}
  stylelint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md,mdx}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
