Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

test(popconfirm): add tests & snapshots for Popconfirm
  src/Popconfirm/__tests__/Popconfirm.spec.tsx
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps (#452)
  .lintstagedrc
  package.json
  src/Alert/ClosableAlert.tsx
  src/Button/index.mdx
  src/Button/index.tsx
  src/Card/index.mdx
  src/Checkbox/index.mdx
  src/DatePicker/index.mdx
  src/Dropdown/index.mdx
  src/Grid/Space.mdx
  src/Grid/index.mdx
  src/Heading/index.mdx
  src/Icon/index.mdx
  src/Input/index.mdx
  src/Mention/index.mdx
  src/Menu/SubMenu.tsx
  src/Menu/index.mdx
  src/Modal/BaseModal.tsx
  src/Modal/index.mdx
  src/Popconfirm/index.mdx
  src/Popover/index.mdx
  src/Radio/index.mdx
  src/Select/index.mdx
  src/Steps/index.mdx
  src/Switch/index.mdx
  src/Table/index.mdx
  src/Tabs/index.mdx
  src/Tag/index.mdx
  src/TextField/index.mdx
  src/TextField/index.tsx
  src/Tooltip/index.mdx
  src/Trigger/index.tsx
  src/UIProvider/index.mdx
  src/index.mdx
  src/message/index.mdx
  src/theme/spacing-scale.mdx
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

feat(divider): implement divider
  src/Divider/__tests__/__snapshots__/index.spec.tsx.snap
  src/Divider/__tests__/index.spec.tsx
  src/Divider/index.mdx
  src/Divider/index.tsx
  src/__tests__/index.spec.ts
  src/index.ts
  src/theme/index.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

test(textfield): add tests & snapshots for TextField (#449)
  src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  src/TextField/__tests__/index.spec.tsx
  src/TextField/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(spin): implement new spin
  src/Spin/__tests__/__snapshots__/index.spec.tsx.snap
  src/Spin/__tests__/index.spec.tsx
  src/Spin/index.mdx
  src/Spin/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  src/Dropdown/DropdownContext.ts
  src/Dropdown/Item.tsx
  src/Dropdown/__tests__/index.spec.tsx
  src/TextField/index.tsx
  src/Trigger/index.tsx
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix: test script
  package.json
Due: prettier --write, prettier-package-json --write

v2.0.0-beta.9
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: forwardRef warning (#458)
  src/Dropdown/Item.tsx
  src/utils/CleanTag.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

refactor: use react hooks
  src/Alert/ClosableAlert.tsx
  src/Checkbox/Checkbox.tsx
  src/Checkbox/CheckboxContext.ts
  src/Checkbox/CheckboxGroup.tsx
  src/Menu/SubMenu.tsx
  src/Radio/Radio.tsx
  src/Radio/RadioContext.ts
  src/Radio/RadioGroup.tsx
  src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  src/Radio/__tests__/index.spec.tsx
  src/Tabs/TabContext.ts
  src/Tabs/index.tsx
  src/Tag/index.tsx
  src/TextField/index.tsx
  src/Trigger/index.tsx
  src/message/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

refactor: add useKeydown
  src/Modal/BaseModal.tsx
  src/Trigger/index.tsx
  src/utils/Keydown.tsx
  src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: bump deps (#462)
  package.json
  src/Trigger/getTransitionStyles.ts
  src/Trigger/index.tsx
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor: useRef (#463)
  src/Button/Ripple.tsx
  src/Button/index.tsx
  src/Dropdown/SubList.tsx
  src/Input/index.mdx
  src/Input/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(mention): prevent display undefined when click
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor: drop react-powerplug (#466)
  package.json
  src/Button/index.mdx
  src/Checkbox/index.mdx
  src/Mention/index.mdx
  src/Menu/index.mdx
  src/Modal/index.mdx
  src/Radio/index.mdx
  src/Select/index.mdx
  src/Steps/index.mdx
  src/Switch/index.mdx
  src/Tabs/index.mdx
  src/Tag/index.mdx
  src/TextField/index.mdx
  src/UIProvider/index.mdx
Due: prettier --write, prettier-package-json --write

v2.0.0-beta.10
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

docs: fix link
  src/Divider/__tests__/__snapshots__/index.spec.tsx.snap
  src/Divider/index.tsx
  src/Grid/Space.mdx
  src/Popconfirm/index.mdx
  src/Popover/index.mdx
  src/Select/index.mdx
  src/TextField/index.mdx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(modal): useKeydown effect callback
  src/Modal/BaseModal.tsx
  src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(input): only auto select when on mount (#468)
  src/Input/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v2.0.0-beta.11
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps (#471)
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor: remove customize css props
  src/Alert/BaseAlert.tsx
  src/Button/index.tsx
  src/Card/Card.tsx
  src/Card/CardBlock.tsx
  src/Card/CardImage.tsx
  src/Divider/index.tsx
  src/Dropdown/Item.tsx
  src/Dropdown/List.tsx
  src/Form/FormField.tsx
  src/Form/Hint.tsx
  src/Form/Label.tsx
  src/Grid/Box.tsx
  src/Grid/Space.tsx
  src/Heading/index.tsx
  src/Icon/index.tsx
  src/Input/index.tsx
  src/Modal/BaseModal.tsx
  src/Select/index.tsx
  src/Table/index.tsx
  src/Tabs/index.tsx
  src/Tag/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/utils/css.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

fix(input): button loading (#473)
  src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  src/Input/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

v2.0.0-beta.12
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: rename SFC to FunctionComponent (#475)
  docz/DoczWrapper.tsx
  src/Alert/BaseAlert.tsx
  src/Alert/ClosableAlert.tsx
  src/Alert/index.tsx
  src/Button/index.tsx
  src/Card/Card.tsx
  src/Card/CardBlock.tsx
  src/Card/CardImage.tsx
  src/Checkbox/Checkbox.tsx
  src/Checkbox/CheckboxGroup.tsx
  src/DatePicker/index.tsx
  src/Divider/index.tsx
  src/Dropdown/SubList.tsx
  src/Dropdown/index.tsx
  src/Form/FormField.tsx
  src/Icon/index.tsx
  src/Input/Textarea.tsx
  src/Input/index.tsx
  src/Menu/Item.tsx
  src/Menu/SubMenu.tsx
  src/Menu/index.tsx
  src/Modal/BaseModal.tsx
  src/Modal/CloseButton.tsx
  src/Modal/Footer.tsx
  src/Modal/index.tsx
  src/Radio/Radio.tsx
  src/Radio/RadioGroup.tsx
  src/Select/index.tsx
  src/Spin/index.tsx
  src/Steps/index.tsx
  src/Switch/index.tsx
  src/Table/index.tsx
  src/Tabs/index.tsx
  src/Tag/index.tsx
  src/TextField/index.tsx
  src/UIProvider/index.tsx
  src/utils/CleanTag.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

chore: rename package to tailor-ui
  docs/README.md
  doczrc.js
  package.json
  rollup.config.js
  src/Alert/index.mdx
  src/Button/index.mdx
  src/Card/index.mdx
  src/Checkbox/index.mdx
  src/DatePicker/index.mdx
  src/Divider/index.mdx
  src/Dropdown/index.mdx
  src/Grid/Space.mdx
  src/Grid/index.mdx
  src/Heading/index.mdx
  src/Icon/index.mdx
  src/Input/index.mdx
  src/Mention/index.mdx
  src/Menu/index.mdx
  src/Modal/index.mdx
  src/Popconfirm/index.mdx
  src/Popover/index.mdx
  src/Radio/index.mdx
  src/Select/index.mdx
  src/Spin/index.mdx
  src/Switch/index.mdx
  src/Table/index.mdx
  src/Tabs/index.mdx
  src/Tag/index.mdx
  src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  src/TextField/index.mdx
  src/Tooltip/index.mdx
  src/UIProvider/index.mdx
  src/index.mdx
  src/message/index.mdx
Due: prettier --write, prettier-package-json --write

try fix circle
  .circleci/config.yml
Due: none

chore: update README.md
  docs/README.md
  package.json
Due: prettier --write, prettier-package-json --write

v0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  src/Form/Label.tsx
  src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(backdrop): add backdrop for overlay
  src/Backdrop/Backdrop.tsx
  src/Backdrop/__tests__/__snapshots__/index.spec.tsx.snap
  src/Backdrop/__tests__/index.spec.tsx
  src/Backdrop/index.ts
  src/Modal/BaseModal.tsx
  src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(upload): implement Upload
  package.json
  src/Input/index.tsx
  src/UIProvider/index.mdx
  src/UIProvider/index.tsx
  src/Upload/Upload.tsx
  src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  src/Upload/__tests__/index.spec.tsx
  src/Upload/index.mdx
  src/Upload/index.ts
  src/__tests__/index.spec.ts
  src/index.ts
  src/locale/en_US.ts
  src/locale/zh_TW.ts
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: add license field to package.json
  package.json
  src/index.mdx
Due: prettier --write, prettier-package-json --write

feat(upload): implement Upload (#6)
  package.json
  src/Input/index.tsx
  src/UIProvider/index.mdx
  src/UIProvider/index.tsx
  src/Upload/Upload.tsx
  src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  src/Upload/__tests__/index.spec.tsx
  src/Upload/index.mdx
  src/Upload/index.ts
  src/__tests__/index.spec.ts
  src/index.ts
  src/locale/en_US.ts
  src/locale/zh_TW.ts
  yarn.lock
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: fix docz title font-family
  doczrc.js
Due: none

refactor: use useContext from locale
  src/DatePicker/index.tsx
  src/Modal/index.tsx
  src/Popconfirm/index.tsx
  src/UIProvider/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

refactor: use useContext from locale (#9)
  src/DatePicker/index.tsx
  src/Modal/index.tsx
  src/Popconfirm/index.tsx
  src/UIProvider/index.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

feat(drawer): implement drawer
  src/Drawer/Drawer.tsx
  src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  src/Drawer/__tests__/index.spec.tsx
  src/Drawer/index.mdx
  src/Drawer/index.ts
  src/Modal/index.tsx
  src/__tests__/index.spec.ts
  src/index.ts
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

tests: fix Drawer & Modal snapshot
  src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  src/Drawer/__tests__/index.spec.tsx
  src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  src/Modal/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx, tslint -c tslint.json, stylelint, prettier --parser typescript --write

Path conditions:
  eslint --ext=ts,tsx: any of: *.{ts,tsx}
  tslint -c tslint.json: any of: *.{ts,tsx}
  stylelint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
