Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write"
  ],
  "*.json": ["prettier --write"],
  "package.json": ["prettier-package-json --write", "prettier --write"],
  ".*rc": ["prettier --parser json --write"]
}

Notes added by 'git notes add'
  aa5144b5ca753762f936d55e3aad6d52316e9c46
Due: none

fix: publish flow
  .releaserc
  formik/package.json
  lab/package.json
  package.json
  theme/package.json
  utils/package.json
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

Notes added by 'git notes add'
  2c158275154001e71eb620f36bd98d447f7d4cef
Due: none

fix: sub module typing
  formik/package.json
  lab/package.json
  theme/package.json
  utils/package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  a0c4005dbae0ed9ad750e2c39de8d006c74799f7
Due: none

chore: more semantic release plugin
  .releaserc
  formik/package.json
  lab/package.json
  package.json
  theme/package.json
  utils/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

fix: remove useless packages
  package.json
  tsconfig.json
  types/index.d.ts
  types/rc-calendar/index.d.ts
  types/rc-time-picker/index.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  61914291a5f25617ce07e57ded2309e8081c6b3b
Due: none

chore: bump deps
  package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Due: prettier --write, prettier-package-json --write

docs(Modal): add null undefined in status
  website/docs/Modal.md
Due: none

docs(modal): fix end semicolon
  website/docs/Modal.md
Due: none

feat(select): new implementation with downshift@6.x
  package.json
  src/lab/Select/Select.tsx
  src/lab/Select/SelectOptions.tsx
  src/lab/Select/SelectSuffix.tsx
  src/lab/Select/index.ts
  src/lab/Select/styles.ts
  src/lab/Select/types.ts
  src/lab/Select/utils.ts
  website/docs/lab/Select.md
  website/sidebars.js
  website/src/theme/ReactLiveScope/index.js
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

docs: fix tabs docs
  website/docs/lab/Tabs.md
Due: none

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(tooltip): new tooltip based on @reach-ui/tooltip
  package.json
  src/lab/Tooltip/Tooltip.tsx
  src/lab/Tooltip/index.ts
  src/lab/Tooltip/styles.ts
  src/lab/__tests__/index.spec.ts
  src/lab/index.ts
  website/docs/lab/Tooltip.md
  website/sidebars.js
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1852e2d647c90d619c681841ba226e3d09402691
Due: none

fix(select): use absolute popover
  package.json
  src/lab/Select/Select.tsx
  src/lab/Select/SelectOptions.tsx
  src/lab/Select/styles.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  25f4128d8a5f3fe10c2f422f64154d5fef18c20c
Due: none

fix(modal): add workaround for hooks modal z-index
  src/Backdrop/Backdrop.tsx
  src/Backdrop/__tests__/__snapshots__/Backdrop.spec.tsx.snap
  src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  src/Modal/AnimationModal.tsx
  src/Modal/HooksModal.tsx
  src/Modal/Modal.tsx
  src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6235c28d9d40148838d25a5245b640406fd94954
Due: none

style(button): adjust button lighten/darken from 0.05 to 0.03
  src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  src/Button/styles.ts
  src/DatePicker/styles.ts
  src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update semantic-release plugin orders
  .releaserc
Due: prettier --parser json --write

chore: remove useless eslint plugin options
  .eslintrc.js
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(modal): add style props to modal
  src/Modal/Footer.tsx
  src/Modal/Header.tsx
  src/Modal/Modal.tsx
  src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  src/Modal/styles.ts
  website/docs/Modal.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  2f110bd09dec7cb8d4821dfe77b55d4414b22f70
Due: none

chore: bump deps
  package.json
  src/Alert/ClosableAlert.tsx
  src/Badge/styles.ts
  src/Checkbox/styles.ts
  src/Radio/styles.ts
  src/TextField/styles.ts
  src/message/HooksMessage.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(textfield): overload types
  src/Input/Input.tsx
  src/Input/Textarea.tsx
  src/TextField/TextField.tsx
  src/TextField/__tests__/__snapshots__/TextField.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  src/FormField/validate.ts
  website/package.json
  website/src/theme/Layout/index.js
  website/yarn.lock
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  8f7243698ed3cb0b8e6b63e6156656cc13e24126
Due: none

fix(textfield): prop `textarea` can be undeifned
  src/TextField/TextField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write
