Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

docs(pageheader): fix breadcrumb props
  docs/PageHeader.md
Due: none

chore: bump deps
  package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(modal): adjust icon color of info modal
  packages/tailor-ui/src/Modal/HooksModal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update readme
  README.md
Due: none

feat(modal): add status support
  docs/Modal.md
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Drawer/styles.ts
  packages/tailor-ui/src/Drawer/types.ts
  packages/tailor-ui/src/Modal/AnimationModal.tsx
  packages/tailor-ui/src/Modal/CloseButton.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/Header.tsx
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/__tests__/Modal.spec.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Modal/styles.ts
  packages/tailor-ui/src/Modal/types.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test(modal): add useModal tests
  .eslintignore
  .eslintrc.js
  package.json
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/HooksModalProvider.tsx
  packages/tailor-ui/src/Modal/__tests__/Modal.spec.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/useModal.spec.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: add displayName to context for better development experience
  packages/tailor-ui-lab/src/Tabs/TabContext.ts
  packages/tailor-ui/src/Checkbox/CheckboxContext.ts
  packages/tailor-ui/src/Dropdown/DropdownContext.ts
  packages/tailor-ui/src/FormField/FormFieldContext.ts
  packages/tailor-ui/src/Menu/MenuContext.ts
  packages/tailor-ui/src/Modal/HooksModalProvider.tsx
  packages/tailor-ui/src/Popover/Popover.tsx
  packages/tailor-ui/src/Radio/RadioContext.ts
  packages/tailor-ui/src/Stack/StackingContext.ts
  packages/tailor-ui/src/Steps/StepContext.ts
  packages/tailor-ui/src/Tabs/TabContext.ts
  packages/tailor-ui/src/UIProvider/UIDContext.tsx
  packages/tailor-ui/src/locale/LocaleProvider.tsx
  packages/tailor-ui/src/message/HooksMessageProvider.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update size-snapshot
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(icon): import type
  packages/tailor-ui/src/Icon/Icon.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

style(drawer): fix styles
  docs/Drawer.md
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Drawer/__tests__/Drawer.spec.tsx
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  packages/tailor-ui/src/Drawer/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: upgrade formik
  package.json
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-formik/src/CheckboxField/CheckboxField.tsx
  packages/tailor-ui-formik/src/InputField/InputField.tsx
  packages/tailor-ui-formik/src/RadioField/RadioField.tsx
  packages/tailor-ui-formik/src/SelectField/SelectField.tsx
  packages/tailor-ui-formik/src/TextareaField/TextareaField.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: use node 12 instead of node 10
  .circleci/config.yml
Due: none

fix(Tab): adjust z-index value
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(select): fix options margin of multiple select
  packages/tailor-ui/src/Select/Select.tsx
  packages/tailor-ui/src/Select/SelectedOption.tsx
  packages/tailor-ui/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui/src/Select/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(popconfirm): export types
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: upgrade styled-components
  package.json
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  packages/tailor-ui/src/Card/__tests__/__snapshots__/Card.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/Checkbox.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/Radio.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui/src/Slider/__tests__/__snapshots__/Slider.spec.tsx.snap
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/Spin.spec.tsx.snap
  packages/tailor-ui/src/Tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/TextField.spec.tsx.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(upload): extends dropzone type
  packages/tailor-ui/src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Positioner/PositionerImpl.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(switch): add forward ref
  packages/tailor-ui/src/Switch/Switch.tsx
  packages/tailor-ui/src/Switch/__tests__/__snapshots__/Switch.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(docs): update yarn.lock to fix doc site
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

test: update mockRaf
  packages/tailor-ui/src/Drawer/__tests__/Drawer.spec.tsx
  packages/tailor-ui/src/Menu/__tests__/Menu.spec.tsx
  packages/tailor-ui/src/Modal/__tests__/Modal.spec.tsx
  packages/tailor-ui/src/Modal/__tests__/useModal.spec.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/Popconfirm.spec.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/Popconfirm.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Popover/__tests__/Popover.spec.tsx
  packages/tailor-ui/src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/tailor-ui/src/Tooltip/__tests__/Tooltip.spec.tsx
  packages/tailor-ui/src/Tooltip/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  test/jest.setup.ts
  test/test-utils.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  .lintstagedrc
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

refactor: animated component usage
  packages/tailor-ui/src/Backdrop/Backdrop.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Modal/AnimationModal.tsx
  packages/tailor-ui/src/Modal/styles.ts
  packages/tailor-ui/src/Tag/Tag.tsx
  packages/tailor-ui/src/message/HooksMessage.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat: make Colors copyable in its demo page
  docs/Colors.js
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  .eslintrc.js
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/package.json
  test/jest.setup.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(tag): canClose type
  packages/tailor-ui/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(select): update typing
  packages/tailor-ui/src/Select/Select.tsx
  packages/tailor-ui/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/Select/__tests__/Select.spec.tsx
  test/jest.setup.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: export status type
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update yarn.lock
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

reafctor: move checkbox group & radio group out of its base component
  docs/Checkbox.md
  docs/Drawer.md
  docs/Radio.md
  docs/UIProvider.md
  packages/tailor-ui-formik/src/CheckboxField/CheckboxField.tsx
  packages/tailor-ui-formik/src/RadioField/RadioField.tsx
  packages/tailor-ui/src/Checkbox/Checkbox.tsx
  packages/tailor-ui/src/Checkbox/CheckboxGroup.tsx
  packages/tailor-ui/src/Checkbox/__tests__/CheckboxGrouo.spec.tsx
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/index.ts
  packages/tailor-ui/src/Radio/Radio.tsx
  packages/tailor-ui/src/Radio/RadioGroup.tsx
  packages/tailor-ui/src/Radio/__tests__/RadioGroup.spec.tsx
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Radio/index.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(textarea): correctly props type
  packages/tailor-ui/src/Input/Textarea.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(textfield): add some types
  packages/tailor-ui/src/TextField/TextField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{js,ts,tsx}
  stylelint: any of: *.{js,ts,tsx}
  prettier --parser typescript --write: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.json) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
