Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write"
  ],
  "*.json": ["prettier --write"],
  "package.json": ["prettier-package-json --write", "prettier --write"],
  ".*rc": ["prettier --parser json --write"]
}

chore: bump deps
  docs/Badge.md
  docs/Colors.js
  docs/Table.md
  docs/typography/Heading.md
  package.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Container/styles.ts
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Modal/Header.tsx
  packages/tailor-ui/src/PageHeader/PageHeader.tsx
  packages/tailor-ui/src/Popover/PopoverPopup.tsx
  packages/tailor-ui/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/Typography/Heading.tsx
  packages/tailor-ui/src/Typography/__tests__/Heading.spec.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(telinput): add some types
  packages/tailor-ui/src/TelInput/TelInput.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(container): add subTitle props
  docs/Container.md
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Container/Container.tsx
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/styles.ts
  packages/tailor-ui/src/Divider/Divider.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(container): add box to container children
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

feat(modal): add mobile screen support
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  packages/tailor-ui/src/Modal/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: update size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix: handle touch event in useClickOutside
  packages/tailor-ui-hooks/src/useClickOutside.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  .eslintrc.js
  babel.config.js
  package.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-hooks/src/useRenderChildren.ts
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Breadcrumb/styles.ts
  packages/tailor-ui/src/PageHeader/styles.ts
  packages/tailor-ui/src/Popover/__tests__/Popover.spec.tsx
  packages/tailor-ui/src/Positioner/PositionerImpl.tsx
  packages/tailor-ui/src/TelInput/TelInput.tsx
  packages/tailor-ui/src/Tooltip/__tests__/Tooltip.spec.tsx
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/locale/LocaleProvider.tsx
  packages/tailor-ui/src/locale/locales/index.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(ellipsis): adjust tooltip width
  packages/tailor-ui/src/Ellipsis/Ellipsis.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui/package.json
  website/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write, prettier-package-json --write

docs: fix code block
  website/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: remove useless yarn.lock in website
  website/yarn.lock
Due: none

fix(select): option label type
  packages/tailor-ui/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/Select/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(select): add disabled props to select option
  packages/tailor-ui/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/Select/styles.ts
  website/docs/Select.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write, prettier-package-json --write

feat(dropdown): add open in new icon
  packages/tailor-ui/src/Dropdown/DropdownItem.tsx
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/styles.ts
  packages/tailor-ui/src/Icon/icons/index.ts
  packages/tailor-ui/src/Icon/icons/open_in_new.tsx
  website/docs/Dropdown.md
  website/docs/Icon.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Badge/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/Checkbox.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/DatePicker/styles/RangePicker.ts
  packages/tailor-ui/src/Divider/Divider.tsx
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/Radio.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Select/styles.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix: some types
  packages/tailor-ui/src/Alert/Alert.tsx
  packages/tailor-ui/src/Alert/BaseAlert.tsx
  packages/tailor-ui/src/FormField/FormField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(textfield): label type
  packages/tailor-ui/src/TextField/TextField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-hooks/src/useOwnValue.ts
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Badge/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/tailor-ui/src/Breadcrumb/Breadcrumb.tsx
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/Checkbox.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Mention/textarea-caret-position.ts
  packages/tailor-ui/src/Modal/styles.ts
  packages/tailor-ui/src/Popover/PopoverPopup.tsx
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/Radio.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Select/Select.tsx
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/Spin.spec.tsx.snap
  packages/tailor-ui/src/Tooltip/TooltipPopup.tsx
  website/package.json
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(select): add onVisibleChange props
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write, prettier-package-json --write

fix(alert): correct optional types
  packages/tailor-ui/src/Alert/Alert.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

refactor(date-picker): use date-fns instead of moment
  .eslintrc.js
  package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/DatePicker/ClearIcon.tsx
  packages/tailor-ui/src/DatePicker/DatePickerInput.tsx
  packages/tailor-ui/src/DatePicker/DatePresets.tsx
  packages/tailor-ui/src/DatePicker/DateRangePicker.tsx
  packages/tailor-ui/src/DatePicker/hooks/useSharedProps.tsx
  packages/tailor-ui/src/DatePicker/index.ts
  packages/tailor-ui/src/DatePicker/styles.ts
  packages/tailor-ui/src/DatePicker/styles/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/DecadePanel.ts
  packages/tailor-ui/src/DatePicker/styles/MonthPanel.ts
  packages/tailor-ui/src/DatePicker/styles/RangePicker.ts
  packages/tailor-ui/src/DatePicker/styles/TimePanel.ts
  packages/tailor-ui/src/DatePicker/styles/YearPanel.ts
  packages/tailor-ui/src/DatePicker/styles/common/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/common/index.ts
  packages/tailor-ui/src/DatePicker/styles/index.ts
  packages/tailor-ui/src/DatePicker/styles/prefix.ts
  packages/tailor-ui/src/DatePicker/styles/timepicker/index.ts
  packages/tailor-ui/src/DatePicker/styles/utils.ts
  packages/tailor-ui/src/locale/LocaleProvider.tsx
  packages/tailor-ui/src/locale/locales/en_US.ts
  packages/tailor-ui/src/locale/locales/zh_Hant.ts
  website/docs/DatePicker.md
  website/package.json
  website/src/theme/ReactLiveScope/index.js
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: update circleci
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  63477517ca27bac43f869ef3384643eb26cf24de
Due: none

chore: fix import path
  .circleci/config.yml
  .releaserc
  formik/package.json
  lab/package.json
  theme/package.json
  utils/package.json
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

fix: circle ci config
  .circleci/config.yml
Due: none
