Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

chore: clean code
  docz/DoczWrapper.js
  doczrc.js
  src/utils/__tests__/shadow.spec.js
  src/utils/shadow.js
Due: eslint --fix, stylelint

fix onTouchEnd typo
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
Due: eslint --fix, stylelint

use react-testing-library instead of enzyme
  jest.config.js
  package.json
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/__tests__/index.spec.js
  src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  src/Checkbox/__tests__/index.spec.js
  src/Icon/__tests__/Icon.spec.js
  src/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/__tests__/index.spec.js
  src/Radio/__tests__/__snapshots__/index.spec.js.snap
  src/Radio/__tests__/index.spec.js
  src/Tabs/__tests__/__snapshots__/index.spec.js.snap
  src/Tabs/__tests__/index.spec.js
  test/configure-enzyme.js
  test/jest.setup.js
  test/mountWithTheme.js
  test/renderWithTheme.js
  test/shallowWithTheme.js
  test/test-utils.js
  yarn.lock
Due: eslint --fix, stylelint, prettier --write, prettier-package-json --write

feature(input): add autoSelect (#346)
  src/Input/index.js
  src/Input/index.mdx
Due: eslint --fix, stylelint

v1.13.4
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(input): drop style-system breaking API
  src/Input/index.js
  src/Input/index.mdx
  src/utils/system.js
Due: eslint --fix, stylelint

v1.13.5
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(mention): use md as default input size
  src/Mention/index.js
Due: eslint --fix, stylelint

refactor: new theme (#341)
  src/Alert/BaseAlert.js
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
  src/Card/index.js
  src/Checkbox/Checkbox.js
  src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  src/Dropdown/Item.js
  src/Dropdown/List.js
  src/Dropdown/index.mdx
  src/Form/FormField.js
  src/Form/Hint.js
  src/Form/Label.js
  src/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/Icon/index.js
  src/Input/Textarea.js
  src/Input/index.js
  src/Input/index.mdx
  src/Mention/index.js
  src/Menu/Item.js
  src/Menu/index.js
  src/Modal/BaseModal.js
  src/Modal/CloseButton.js
  src/Modal/index.js
  src/Modal/instance.js
  src/Popconfirm/index.js
  src/Popconfirm/index.mdx
  src/Popover/index.js
  src/Radio/Radio.js
  src/Radio/__tests__/__snapshots__/index.spec.js.snap
  src/Select/index.js
  src/Steps/index.js
  src/Table/index.js
  src/Tabs/__tests__/__snapshots__/index.spec.js.snap
  src/Tabs/index.js
  src/Tag/index.js
  src/Tag/index.mdx
  src/TextField/index.js
  src/Tooltip/BaseTooltip.js
  src/message/Message.js
  src/theme/index.js
Due: eslint --fix, stylelint

feature(card): hoverable, clickable, borderColor
  src/Card/index.js
  src/Card/index.mdx
Due: eslint --fix, stylelint

fix: build types
  test/test-utils.tsx
  tsconfig.json
Due: prettier --write

fix: components types
  src/Alert/BaseAlert.tsx
  src/Card/Card.tsx
  src/Card/CardBlock.tsx
  src/Checkbox/CheckboxGroup.tsx
  src/Dropdown/List.tsx
  src/Dropdown/index.mdx
  src/Dropdown/index.tsx
  src/Form/FormField.tsx
  src/Input/Textarea.tsx
  src/Input/index.tsx
  src/Mention/index.tsx
  src/Menu/Item.tsx
  src/Menu/SubMenu.tsx
  src/Menu/index.tsx
  src/Modal/Footer.tsx
  src/Modal/index.tsx
  src/Modal/instance.tsx
  src/Radio/RadioGroup.tsx
  src/Select/index.tsx
  src/Spin/index.tsx
  src/Steps/index.tsx
  src/Table/index.mdx
  src/Table/index.tsx
  src/Tabs/index.mdx
  src/Tag/index.tsx
  src/TextField/index.mdx
  src/TextField/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/Tooltip/index.tsx
Due: none

add type-check to CI
  .circleci/config.yml
Due: none

refactor: drop all themeGet
  src/Card/Card.tsx
  src/Card/CardBlock.tsx
  src/Input/Textarea.tsx
  src/Input/index.tsx
  src/Menu/Item.tsx
  src/Table/index.tsx
  src/Tabs/index.tsx
Due: none

chore: update lint stage
  .lintstagedrc
Due: prettier --parser json --write

v2.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: some types
  .lintstagedrc
  package.json
  src/Modal/index.tsx
  src/Tooltip/index.tsx
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

fix(mention): dropdown list
  src/Mention/index.tsx
Due: none

fix(modal): omit title
  src/Modal/index.tsx
Due: none

fix(table): remove borderColor to fix DOM element issue
  src/Table/index.tsx
Due: none

feat(select): add multiple select in Select
  src/Select/index.js
  src/Select/index.mdx
  src/Select/index.tsx
Due: eslint --fix, stylelint

fix: add and option to use default multi-select, add delimiter for text style multi-select
  src/Select/index.js
  src/Select/index.mdx
  src/Select/index.tsx
Due: eslint --fix, stylelint

fix: add classNamePrefix
  src/Select/index.tsx
Due: none

refactor: add PortalElement
  src/Modal/index.tsx
  src/utils/PortalElement.ts
Due: none

fix(message): add z-index
  src/message/Message.tsx
Due: none

feat(dropdown): fixed position
  .eslintrc.js
  src/Dropdown/DropdownContext.ts
  src/Dropdown/List.tsx
  src/Dropdown/SubList.tsx
  src/Dropdown/index.mdx
  src/Dropdown/index.tsx
  src/utils/ClickOutside.tsx
  src/utils/PortalElement.ts
Due: eslint --fix, stylelint

feature: add UIProvider for i18n
  docz/DoczWrapper.tsx
  src/Button/Ripple.tsx
  src/Button/index.tsx
  src/Modal/Footer.tsx
  src/Modal/index.tsx
  src/Modal/instance.tsx
  src/Popconfirm/index.tsx
  src/UIProvider/index.mdx
  src/UIProvider/index.tsx
  src/__tests__/index.spec.ts
  src/index.mdx
  src/index.ts
  src/locale/en_US.ts
  src/locale/index.ts
  src/locale/zh_TW.ts
  src/message/Message.tsx
  src/utils/ThemeProvider.tsx
Due: none

v2.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(dropdown): add defaultProps
  src/Dropdown/index.tsx
Due: none

docs(tabs): add some docs
  src/Tabs/index.tsx
Due: none

feat(mention): add autoFocus
  src/Mention/index.mdx
  src/Mention/index.tsx
Due: none

fix(dropdown): text-align
  src/Dropdown/Item.tsx
Due: none

add immutable because of peer dependency in rc-editor-mention
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

remove forceExit on testonly:cov
  package.json
Due: prettier --write, prettier-package-json --write

feat: new gray colors
  doczrc.js
  src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  src/Button/index.tsx
  src/Card/Card.tsx
  src/Card/CardBlock.tsx
  src/Checkbox/Checkbox.tsx
  src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  src/Checkbox/index.mdx
  src/Dropdown/Item.tsx
  src/Dropdown/List.tsx
  src/Form/Hint.tsx
  src/Heading/index.tsx
  src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  src/Icon/index.tsx
  src/Input/index.tsx
  src/Mention/index.tsx
  src/Modal/index.tsx
  src/Popover/index.tsx
  src/Radio/Radio.tsx
  src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  src/Radio/index.mdx
  src/Select/index.tsx
  src/Steps/index.mdx
  src/Steps/index.tsx
  src/Switch/index.tsx
  src/Table/index.mdx
  src/Table/index.tsx
  src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  src/Tag/index.tsx
  src/TextField/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/injectGlobalCss/base.ts
  src/theme/Color.tsx
  src/theme/colors.mdx
  src/theme/index.ts
  src/theme/spacing-scale.mdx
Due: eslint --fix, stylelint

fix: dark colors
  src/Button/index.tsx
  src/Tabs/index.tsx
  src/theme/colors.mdx
  src/theme/index.ts
Due: none

fix(dropdown): observe rect (#381)
  package.json
  src/Dropdown/DropdownContext.ts
  src/Dropdown/List.tsx
  src/Dropdown/SubList.tsx
  src/Dropdown/index.mdx
  src/Dropdown/index.tsx
  tsconfig.json
  typings/custom-typings.d.ts
  yarn.lock
Due: prettier --write, prettier-package-json --write
