Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

fix(mention): convert space to &nbsp;
  packages/tailor-ui-lab/src/Mention/highlight.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(textarea): rows not working
  docs/Input.mdx
  packages/tailor-ui/src/Input/Textarea.tsx
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(upload): usage logic
  package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/Textarea.spec.tsx
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Spin/Spin.tsx
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/locale/en_US.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(lab): drop new menu
  packages/tailor-ui-lab/src/Menu/Menu.tsx
  packages/tailor-ui-lab/src/Menu/MenuContext.ts
  packages/tailor-ui-lab/src/Menu/MenuDivider.tsx
  packages/tailor-ui-lab/src/Menu/MenuItem.tsx
  packages/tailor-ui-lab/src/Menu/SubMenu.tsx
  packages/tailor-ui-lab/src/Menu/SubMenuContent.tsx
  packages/tailor-ui-lab/src/Menu/index.ts
  packages/tailor-ui-lab/src/Menu/styles.ts
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
  packages/tailor-ui-lab/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(lab): drop new menu (#92)
  packages/tailor-ui-lab/src/Menu/Menu.tsx
  packages/tailor-ui-lab/src/Menu/MenuContext.ts
  packages/tailor-ui-lab/src/Menu/MenuDivider.tsx
  packages/tailor-ui-lab/src/Menu/MenuItem.tsx
  packages/tailor-ui-lab/src/Menu/SubMenu.tsx
  packages/tailor-ui-lab/src/Menu/SubMenuContent.tsx
  packages/tailor-ui-lab/src/Menu/index.ts
  packages/tailor-ui-lab/src/Menu/styles.ts
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
  packages/tailor-ui-lab/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style: update theme color
  docs/Color.tsx
  docs/colors.mdx
  packages/tailor-ui/src/Form/FormField.tsx
  packages/tailor-ui/src/Mention/Mention.tsx
  packages/tailor-ui/src/Menu/Item.tsx
  packages/tailor-ui/src/Menu/Menu.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Steps/Steps.tsx
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(icon): update built-in icons
  docs/Icon.mdx
  packages/tailor-ui/src/Icon/icons/analytics.tsx
  packages/tailor-ui/src/Icon/icons/index.ts
  packages/tailor-ui/src/Icon/icons/robot.tsx
  packages/tailor-ui/src/Icon/icons/settings.tsx
  packages/tailor-ui/src/Icon/icons/touch.tsx
  packages/tailor-ui/src/Icon/icons/tutorial.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(menu): update menu style
  docs/Menu.mdx
  packages/tailor-ui/src/Menu/Item.tsx
  packages/tailor-ui/src/Menu/Menu.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Menu/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(tabs): update tabs color
  packages/tailor-ui/src/Tabs/Tabs.tsx
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test: update snapshots
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Card/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Switch/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: none

chore: remove useless file
  docs/lab/Menu.mdx
Due: prettier --write

docs: remove conosle.log from Color
  docs/Color.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): add word-break for mention textarea color
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): remove animation from highlight box
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): fix FormField not working on hover
  docs/lab/Mention.mdx
  packages/tailor-ui-lab/src/Mention/styles.ts
  packages/tailor-ui/src/Form/FormField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

refactor: move Portal out of utils
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Portal/Portal.tsx
  packages/tailor-ui/src/Portal/index.ts
  packages/tailor-ui/src/Spin/Spin.tsx
  packages/tailor-ui/src/Trigger/Trigger.tsx
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update peer deps
  packages/tailor-ui-lab/package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: bump deps (#99)
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: update peer deps (#98)
  packages/tailor-ui-lab/package.json
Due: prettier --write, prettier-package-json --write

style: update heading and icon color
  docs/Heading.mdx
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Heading/Heading.tsx
  packages/tailor-ui/src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Heading/__tests__/index.spec.tsx
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(upload): can click scope
  docs/UIProvider.mdx
  docs/Upload.mdx
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/index.spec.tsx
  packages/tailor-ui/src/locale/en_US.ts
  packages/tailor-ui/src/locale/zh_Hant.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style: update heading and icon color (#100)
  docs/Heading.mdx
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Heading/Heading.tsx
  packages/tailor-ui/src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Heading/__tests__/index.spec.tsx
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(heading): update font size
  docs/Heading.mdx
  packages/tailor-ui/src/GlobalStyle/index.ts
  packages/tailor-ui/src/Heading/Heading.tsx
  packages/tailor-ui/src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(tooltip): update background color
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Tooltip/BaseTooltip.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(tooltip): update background color (#103)
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Tooltip/BaseTooltip.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(upload): use useReducer instead of multi useState
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refacotr: update some any typing
  package.json
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui/src/Alert/ClosableAlert.tsx
  packages/tailor-ui/src/Backdrop/Backdrop.tsx
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Card/__tests__/index.spec.tsx
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/Dropdown/DropdownContext.ts
  packages/tailor-ui/src/Dropdown/Item.tsx
  packages/tailor-ui/src/Dropdown/List.tsx
  packages/tailor-ui/src/GlobalStyle/index.ts
  packages/tailor-ui/src/Heading/Heading.tsx
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Input/Input.tsx
  packages/tailor-ui/src/Tabs/Tabs.tsx
  packages/tailor-ui/src/Tag/Tag.tsx
  packages/tailor-ui/src/TextField/TextField.tsx
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Trigger/Trigger.tsx
  test/test-utils.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(upload): filelist component position
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix: modal and popover heading size
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/ModalInstanceComponent.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popover/Popover.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix: modal and popover heading size (#107)
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/ModalInstanceComponent.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popover/Popover.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(upload): filelist component position (#106)
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(upload): filelist component position (#106)
  docs/Modal.mdx
  docs/Popconfirm.mdx
  docs/UIProvider.mdx
  docs/Upload.mdx
  doczrc.js
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/EffectModalContext.ts
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/ModalInstanceComponent.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/index.ts
  packages/tailor-ui/src/Modal/instance.tsx
  packages/tailor-ui/src/Modal/useModal.ts
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/UIProvider/index.ts
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style: fix surface color value
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(upload): filelist component position (#106)
  docs/Modal.mdx
  docs/Popconfirm.mdx
  docs/UIProvider.mdx
  docs/Upload.mdx
  doczrc.js
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/EffectModalContext.ts
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/ModalInstanceComponent.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/index.ts
  packages/tailor-ui/src/Modal/instance.tsx
  packages/tailor-ui/src/Modal/useModal.ts
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/UIProvider/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write
