Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "stylelint", "git add"],
  "*.{json,md}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

docs: add when to use (#259)
  docs/README.md
  src/Alert/index.mdx
  src/Button/index.mdx
  src/Card/index.mdx
  src/Checkbox/index.mdx
  src/Dropdown/index.mdx
  src/Grid/Space.mdx
  src/Grid/index.mdx
  src/Heading/index.mdx
  src/Icon/index.mdx
  src/Input/index.mdx
  src/Menu/index.mdx
  src/Modal/index.mdx
  src/Popconfirm/index.mdx
  src/Popover/index.mdx
  src/Radio/index.mdx
  src/Select/index.mdx
  src/Spin/index.mdx
  src/Switch/index.mdx
  src/Table/index.mdx
  src/Tabs/index.mdx
  src/TextField/index.mdx
  src/Tooltip/index.mdx
  src/index.mdx
  src/message/index.mdx
Due: prettier --write

v1.8.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(tooltip): wrapper z-index (#260)
  src/Tooltip/BaseTooltip.js
Due: eslint --fix, stylelint

v1.8.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

refactor(card): drop useless api
  src/Card/index.js
  src/Card/index.mdx
Due: eslint --fix, stylelint

docs(textfield): add textarea description
  src/TextField/index.mdx
Due: none

feat(dropdown): update styles (#264)
  src/Dropdown/index.js
Due: eslint --fix, stylelint

refactor(modal): remove no animation modal & rename api
  src/Modal/BaseModal.js
  src/Modal/ModalWithoutAnimation.js
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

feat(modal): add header & footer
  src/Modal/BaseModal.js
  src/Modal/CloseButton.js
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/__tests__/index.spec.js
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

feat(utils): add size to get-type-icon
  src/utils/getTypeIcon.js
Due: eslint --fix, stylelint

feat(modal): implement instance method
  src/Modal/BaseModal.js
  src/Modal/Footer.js
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
  src/Modal/index.mdx
  src/Modal/instance.js
Due: eslint --fix, stylelint

docz(modal): add instance docs & fix Modal API
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

refactor(modal): add renderHeader & renderFooter
  src/Modal/BaseModal.js
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
Due: eslint --fix, stylelint

fix(checkbox): checkbox group onChange event
  src/Checkbox/CheckboxField.js
Due: eslint --fix, stylelint

chore: bump deps
  package.json
  src/Tabs/__tests__/__snapshots__/index.spec.js.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor(button): use class properties
  src/Button/index.js
Due: eslint --fix, stylelint

refactor(button): add type & variant
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/__tests__/index.spec.js
  src/Button/index.js
  src/Button/index.mdx
  src/theme/colors.js
Due: eslint --fix, stylelint

v1.9.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(button): button default is light color
  src/Button/index.js
  src/Button/index.mdx
  src/Card/index.js
  src/Modal/Footer.js
  src/Modal/index.js
  src/Popconfirm/index.js
Due: eslint --fix, stylelint

refactor(button): remove variant props
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
  src/Button/index.mdx
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
Due: eslint --fix, stylelint

fix(modal): confirm events
  src/Modal/instance.js
Due: eslint --fix, stylelint

v1.10.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(tooltip): add defaultVisible
  src/Tooltip/index.js
  src/Tooltip/index.mdx
Due: eslint --fix, stylelint

feat(popover): add hide popover to title props
  src/Popover/index.js
Due: eslint --fix, stylelint

fix(textfield): controlled max length
  src/TextField/index.js
Due: eslint --fix, stylelint

feat(modal): add empty footer
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

feat(modal): add confirmButtonProps & cancelButtonProps
  src/Modal/Footer.js
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

v1.10.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(textfield): actived condition (#279)
  src/TextField/index.js
  src/TextField/index.mdx
Due: eslint --fix, stylelint

v1.10.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Check footer is react component or not
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

Add hint border-color on Textfield with textarea
  src/Form/FormField.js
  src/Input/Textarea.js
  src/TextField/index.js
  src/TextField/index.mdx
Due: eslint --fix, stylelint

v1.10.3
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(textfield): render props value when it is empty string (#286)
  src/TextField/index.js
Due: eslint --fix, stylelint

chore(deps): bump deps
  package.json
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(deps): remove peer deps from deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(icon): line-height (#292)
  src/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/Icon/index.js
  src/utils/DoczWrapper.js
Due: eslint --fix, stylelint

chore(deps): upgrade deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor(modal): remove unnecessary destructuring
  src/Modal/index.js
  src/Modal/instance.js
Due: eslint --fix, stylelint
