Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

fix(modal): use correct event types
  packages/tailor-ui-hooks/src/useKeydown.ts
  packages/tailor-ui/src/Backdrop/Backdrop.tsx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/CloseButton.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(theme): improve types
  packages/tailor-ui-theme/src/theme.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(packages): migrate Component space value
  docs/Color.tsx
  docs/Menu.mdx
  docs/Popover.mdx
  docs/Steps.mdx
  docs/Table.mdx
  docs/UIProvider.mdx
  docs/lab/Tabs.mdx
  docs/layout/spacing-scale.mdx
  docs/layout/width-scale.mdx
  packages/tailor-ui-theme/src/theme.ts
  packages/tailor-ui/src/Alert/BaseAlert.tsx
  packages/tailor-ui/src/Card/styles.ts
  packages/tailor-ui/src/Divider/Divider.tsx
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Popover/styles.tsx
  packages/tailor-ui/src/message/HooksMessage.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(Select): render select option title
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(positioner): prevent spring
  packages/tailor-ui/src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(form-field): add yup supported
  docs/FormField.mdx
  package.json
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/__tests__/FormField.spec.tsx
  packages/tailor-ui/src/FormField/__tests__/__snapshots__/FormField.spec.tsx.snap
  packages/tailor-ui/src/FormField/validate.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(form-field): add animation
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/__tests__/FormField.spec.tsx
  packages/tailor-ui/src/FormField/__tests__/__snapshots__/FormField.spec.tsx.snap
  packages/tailor-ui/src/FormField/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(form-field): add single object validator support
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/FormFieldContext.ts
  packages/tailor-ui/src/FormField/__tests__/FormField.spec.tsx
  packages/tailor-ui/src/FormField/validate.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(form-field): prevent animation on initial
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/validate.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(steps): fix icon flex and add snapshot
  packages/tailor-ui/src/Steps/Step.tsx
  packages/tailor-ui/src/Steps/StepContext.ts
  packages/tailor-ui/src/Steps/Steps.tsx
  packages/tailor-ui/src/Steps/__tests__/Steps.spec.tsx
  packages/tailor-ui/src/Steps/__tests__/__snapshots__/Steps.spec.tsx.snap
  packages/tailor-ui/src/Steps/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): set correct highlight index when click item
  packages/tailor-ui-lab/src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(upload): spread props to useDropzone
  packages/tailor-ui/src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

refactor(text): update text api
  packages/tailor-ui/src/Typography/Text.ts
  packages/tailor-ui/src/Typography/__tests__/Text.spec.tsx
  packages/tailor-ui/src/Typography/__tests__/__snapshots__/Text.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update .size-snapshot
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

refactor(datepicker): use popover to refactor datepicker
  docs/DatePicker.mdx
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/DatePicker/styles/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/Picker.ts
  packages/tailor-ui/src/DatePicker/styles/common/Picker.ts
  packages/tailor-ui/src/DatePicker/styles/common/index.ts
  packages/tailor-ui/src/DatePicker/styles/index.ts
  packages/tailor-ui/src/DatePicker/styles/timepicker/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: update .size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

fix(layout): move grid-area to box
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Layout/Box.ts
  packages/tailor-ui/src/Layout/Grid.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

basic layout
  .gitignore
  babel.config.js
  next.config.js
  package.json
  pages/.eslintrc.js
  pages/_app.js
  pages/_document.js
  pages/alert.mdx
  pages/components/CodeBlock.js
  pages/components/LiveEdit.js
  pages/components/MDXComponents.js
  pages/hoc/Layout.js
  pages/index.js
  pages/theme.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix: link navigation bar
  docs/src/modules/hoc/Layout.js
  pages/_app.js
  pages/components.js
  static/css/nprogress.css
Due: none

feat: improved code editor
  docs/src/modules/components/LiveEdit.js
  docs/src/modules/components/MDXComponents.js
  docs/src/modules/components/index.js
  docs/src/modules/hoc/Layout.js
  package.json
  pages/_app.js
  pages/components.js
  pages/components/Alert.mdx
  pages/components/Button.mdx
Due: prettier --write, prettier-package-json --write

fix: removed unnecessary imports
  docs/src/modules/components/LiveEdit.js
  yarn.lock
Due: none

fix(modal): content type
  packages/tailor-ui/src/Modal/HooksModal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(slider): implement slider
  docs/Slider.mdx
  packages/tailor-ui-theme/src/theme.ts
  packages/tailor-ui/src/Slider/Slider.tsx
  packages/tailor-ui/src/Slider/SliderDot.tsx
  packages/tailor-ui/src/Slider/__tests__/Slider.spec.tsx
  packages/tailor-ui/src/Slider/__tests__/__snapshots__/Slider.spec.tsx.snap
  packages/tailor-ui/src/Slider/index.ts
  packages/tailor-ui/src/Slider/styles.ts
  packages/tailor-ui/src/Slider/utils.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(menu): sub menu overflow
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/Menu.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(button): map loading to isLoading to prevent loading boolean error
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Button/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(date-picker): add range picker
  docs/DatePicker.mdx
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/DatePicker/styles/DecadePanel.ts
  packages/tailor-ui/src/DatePicker/styles/RangePicker.ts
  packages/tailor-ui/src/DatePicker/styles/index.ts
  packages/tailor-ui/src/DatePicker/styles/timepicker/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/src/Select/__tests__/Select.spec.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/message/__tests__/message.spec.tsx
  test/jest.setup.ts
  types/jest-dom/index.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix: some types
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui/src/Drawer/Drawer.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(hooks): implement useOwnValue
  packages/tailor-ui-hooks/src/__tests__/index.spec.ts
  packages/tailor-ui-hooks/src/index.ts
  packages/tailor-ui-hooks/src/useOwnValue.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(date-picker): add clearable and fix empty value usage
  docs/DatePicker.mdx
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/DatePicker/ClearIcon.tsx
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(date-picker): width props
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write
