Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

v2.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(button): support customize icon color
  src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  src/Button/index.mdx
  src/Button/index.tsx
  src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  src/Icon/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

chore: bump-deps
  package.json
  src/Alert/BaseAlert.tsx
  src/Alert/index.tsx
  src/Grid/Space.tsx
  src/Popover/index.tsx
  src/Tooltip/index.tsx
  src/utils/ClickOutside.tsx
  yarn.lock
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(table): add color props from styled-system
  src/Table/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

refactor(dropdown): improve performance
  src/Dropdown/DropdownContext.ts
  src/Dropdown/Item.tsx
  src/Dropdown/List.tsx
  src/Dropdown/SubList.tsx
  src/Dropdown/index.mdx
  src/Dropdown/index.tsx
  src/utils/ClickOutside.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

v2.0.0-alpha.3
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: bump-deps
  package.json
  src/Alert/BaseAlert.tsx
  src/Button/index.mdx
  src/Button/index.tsx
  src/Checkbox/index.mdx
  src/Dropdown/SubList.tsx
  src/Icon/index.mdx
  src/Icon/index.tsx
  src/Input/index.mdx
  src/Mention/index.mdx
  src/Menu/SubMenu.tsx
  src/Modal/CloseButton.tsx
  src/Radio/index.mdx
  src/Steps/index.tsx
  src/Tag/index.tsx
  src/TextField/index.mdx
  src/utils/getTypeIcon.tsx
  yarn.lock
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat: add tslint
  .lintstagedrc
  package.json
  src/Alert/BaseAlert.tsx
  src/Alert/index.tsx
  src/Button/index.tsx
  src/Checkbox/Checkbox.tsx
  src/Checkbox/CheckboxGroup.tsx
  src/Dropdown/Item.tsx
  src/Dropdown/SubList.tsx
  src/Dropdown/index.tsx
  src/Form/FormField.tsx
  src/Input/Textarea.tsx
  src/Input/index.tsx
  src/Mention/index.tsx
  src/Menu/SubMenu.tsx
  src/Modal/CloseButton.tsx
  src/Modal/Footer.tsx
  src/Modal/ModalInstanceComponent.tsx
  src/Modal/index.tsx
  src/Modal/instance.tsx
  src/Popconfirm/index.tsx
  src/Popover/index.tsx
  src/Radio/Radio.tsx
  src/Radio/RadioGroup.tsx
  src/Select/index.tsx
  src/Spin/index.tsx
  src/Steps/index.tsx
  src/Switch/index.tsx
  src/Tabs/index.tsx
  src/Tag/index.tsx
  src/TextField/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/Tooltip/index.tsx
  src/UIProvider/index.tsx
  src/message/Message.tsx
  src/message/index.tsx
  src/utils/ClickOutside.tsx
  src/utils/Keydown.tsx
  tslint.json
  yarn.lock
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

remove lint:css in ci
  .circleci/config.yml
Due: none

feat(date-picker): implement date-picker
  package.json
  src/DatePicker/index.mdx
  src/DatePicker/index.tsx
  src/DatePicker/styles/Calendar.ts
  src/DatePicker/styles/DecadePanel.ts
  src/DatePicker/styles/MonthPanel.ts
  src/DatePicker/styles/Picker.ts
  src/DatePicker/styles/TimePanel.ts
  src/DatePicker/styles/YearPanel.ts
  src/DatePicker/styles/common/Calendar.ts
  src/DatePicker/styles/common/Picker.ts
  src/DatePicker/styles/common/index.ts
  src/DatePicker/styles/index.ts
  src/DatePicker/styles/prefix.ts
  src/DatePicker/styles/timepicker/index.ts
  src/Input/index.tsx
  src/UIProvider/index.mdx
  src/UIProvider/index.tsx
  src/__tests__/index.spec.ts
  src/index.ts
  src/injectGlobalCss/index.ts
  src/locale/en_US.ts
  src/locale/zh_TW.ts
  typings/custom-typings.d.ts
  yarn.lock
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump-deps
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

v2.0.0-alpha.4
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: add skipLocale to prevent reset globalLocale
  src/Modal/ModalInstanceComponent.tsx
  src/UIProvider/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

chore: use rollup (#396)
  package.json
  rollup.config.js
  src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

doc(DatePicker): enhance disabledDate example
  src/DatePicker/index.mdx
Due: none

v2.0.0-alpha.5
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: babel build
  .babelrc
  package.json
  rollup.config.js
Due: prettier --write, prettier-package-json --write, prettier --parser json --write

v2.0.0-alpha.6
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: tree shaking
  .gitignore
  package.json
  rollup.config.js
  src/UIProvider/index.mdx
  src/UIProvider/index.tsx
  src/index.browser.ts
  src/index.ts
  src/locale/index.ts
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix: card radius
  src/Card/Card.tsx
  src/Card/CardImage.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

fix: dropdown padding
  src/Dropdown/SubList.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

v2.0.0-alpha.7
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: locale export
  .gitignore
  package.json
  rollup.config.js
  src/index.browser.ts
  src/index.ts
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

v2.0.0-alpha.8
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(dropdown): forwardRef warning
  src/Dropdown/Item.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

feat(menu): add togglable to sub menu (#407)
  src/Menu/SubMenu.tsx
  src/Menu/index.mdx
Due: eslint --fix, stylelint, prettier --parser typescript --write

refactor: add Trigger (#406)
  src/Dropdown/index.tsx
  src/Modal/index.tsx
  src/Trigger/getPositionOffset.ts
  src/Trigger/index.tsx
  src/utils/Portal.tsx
  src/utils/PortalElement.ts
Due: eslint --fix, stylelint, prettier --parser typescript --write

v2.0.0-alpha.9
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat: add trigger props to Trigger for hover event
  src/Dropdown/index.mdx
  src/Trigger/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

feat(tooltip): absolute position
  src/Dropdown/DropdownContext.ts
  src/Dropdown/List.tsx
  src/Dropdown/index.tsx
  src/Tooltip/BaseTooltip.tsx
  src/Tooltip/index.mdx
  src/Tooltip/index.tsx
  src/Trigger/index.tsx
  src/utils/Portal.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

v2.0.0-alpha.10
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(dropdown): missing trigger
  src/Dropdown/index.tsx
  src/Trigger/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

fix(tooltip): defaultVisible
  src/Tooltip/index.tsx
  src/Trigger/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

v2.0.0-alpha.11
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix: unobserve when trigge unmount
  src/Trigger/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write

styled-component v4
  package.json
  src/Button/index.tsx
  src/Dropdown/List.tsx
  src/Dropdown/SubList.tsx
  src/GlobalStyle/base.ts
  src/GlobalStyle/index.ts
  src/Heading/index.tsx
  src/Input/index.tsx
  src/Mention/index.tsx
  src/UIProvider/index.tsx
  src/injectGlobalCss/index.ts
  src/utils/styled-components.ts
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix: styled-components v4 typing
  package.json
  src/Button/index.tsx
  src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  src/Dropdown/Item.tsx
  src/Dropdown/SubList.tsx
  src/GlobalStyle/base.ts
  src/GlobalStyle/index.ts
  src/Input/index.tsx
  src/Mention/index.tsx
  src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  src/utils/ClickOutside.tsx
  yarn.lock
Due: eslint --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

v2.0.0-beta.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix selectProps key
  src/Select/index.tsx
Due: eslint --fix, stylelint, prettier --parser typescript --write
