Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

chore(release): publish
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

feat(tabs): implement new tabs
  docs/lab/Tabs.mdx
  packages/tailor-ui-lab/src/Tabs/TabContext.ts
  packages/tailor-ui-lab/src/Tabs/Tabs.tsx
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Tabs/index.ts
  packages/tailor-ui-lab/src/Tabs/styles.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(tabs): implement new tabs (#109)
  docs/lab/Tabs.mdx
  packages/tailor-ui-lab/src/Tabs/TabContext.ts
  packages/tailor-ui-lab/src/Tabs/Tabs.tsx
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Tabs/index.ts
  packages/tailor-ui-lab/src/Tabs/styles.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
Due: prettier --write, prettier-package-json --write

style: update theme order
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  docs/Color.tsx
  docs/colors.mdx
  package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Divider/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Steps/Steps.tsx
  packages/tailor-ui/src/Table/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/theme/index.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

style(tabs): add bold to font-weight
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(input): redesign
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Card/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Form/FormField.tsx
  packages/tailor-ui/src/Form/Label.tsx
  packages/tailor-ui/src/Input/Input.tsx
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(icon): remove useless loading icon
  docs/Icon.mdx
  packages/tailor-ui/src/Icon/icons/index.ts
  packages/tailor-ui/src/Icon/icons/loading.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(button): redesign
  docs/Button.mdx
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Button/ButtonIcon.tsx
  packages/tailor-ui/src/Button/Ripple.tsx
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/index.spec.tsx
  packages/tailor-ui/src/Button/index.ts
  packages/tailor-ui/src/Button/styles.ts
  packages/tailor-ui/src/Card/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  packages/tailor-ui/src/Modal/CloseButton.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(SubMenu): change overflow from hidden to scroll, fix https://github.com/Yoctol/kurator/issues/3433
  packages/tailor-ui/src/Menu/SubMenu.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(modal): redesign
  docs/Modal.mdx
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Backdrop/Backdrop.tsx
  packages/tailor-ui/src/Backdrop/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Icon/icons/danger.tsx
  packages/tailor-ui/src/Icon/icons/index.ts
  packages/tailor-ui/src/Icon/icons/info.tsx
  packages/tailor-ui/src/Icon/icons/success.tsx
  packages/tailor-ui/src/Icon/icons/warning.tsx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/index.spec.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/utils/getTypeIcon.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(modal): redesign (#116)
  docs/Modal.mdx
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Backdrop/Backdrop.tsx
  packages/tailor-ui/src/Backdrop/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Icon/icons/danger.tsx
  packages/tailor-ui/src/Icon/icons/index.ts
  packages/tailor-ui/src/Icon/icons/info.tsx
  packages/tailor-ui/src/Icon/icons/success.tsx
  packages/tailor-ui/src/Icon/icons/warning.tsx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/index.spec.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/utils/getTypeIcon.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(mention): merge onBlur from props
  packages/tailor-ui-lab/src/Mention/Mention.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(menu): update menu size
  packages/tailor-ui/src/Menu/Item.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Menu/__tests__/index.spec.tsx
  packages/tailor-ui/src/Menu/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(menu): update menu size (#123)
  packages/tailor-ui/src/Menu/Item.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Menu/__tests__/index.spec.tsx
  packages/tailor-ui/src/Menu/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(utils): add mergeEventProps utils for mention
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs(icon): add more built-in icons
  docs/Icon.mdx
Due: prettier --write

feat(positioner): implement positioner
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/Positioner/PositionerWrapper.tsx
  packages/tailor-ui/src/Positioner/getPosition.ts
  packages/tailor-ui/src/Positioner/index.ts
  packages/tailor-ui/src/constants/Position.ts
  packages/tailor-ui/src/constants/index.ts
  packages/tailor-ui/src/index.ts
  packages/tailor-ui/src/utils/useClickOutside.ts
  packages/tailor-ui/src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(tooltip): re-implement new tooltip with positioner
  docs/lab/Tooltip.mdx
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui-lab/src/Tooltip/index.ts
  packages/tailor-ui-lab/src/Tooltip/styles.tsx
  packages/tailor-ui-lab/src/index.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(popover): implement new popover with positioner
  docs/lab/Popover.mdx
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Popover/index.ts
  packages/tailor-ui-lab/src/Popover/styles.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui-lab/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(popconfirm): implement new popconfirm with positioner
  docs/lab/Popconfirm.mdx
  packages/tailor-ui-lab/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui-lab/src/Popconfirm/index.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat: improve positioner usage performance
  packages/tailor-ui-lab/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/utils/useClickOutside.ts
  packages/tailor-ui/src/utils/useKeydown.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(table): update styles and add header/footer usage
  docs/Table.mdx
  packages/tailor-ui/src/Table/Table.tsx
  packages/tailor-ui/src/Table/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Table/__tests__/index.spec.tsx
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor(positioner): improve positioner performance
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/Positioner/PositionerWrapper.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(mention): use useClickOutside to handle onBlur event
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test(mention): add test
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/__tests__/Mention.spec.tsx
  packages/tailor-ui-lab/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(menu): codebase improvement
  packages/tailor-ui/src/Menu/Menu.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: add type-check to pre-commit hooks
  package.json
Due: prettier --write, prettier-package-json --write

style(icon): update messenger and line icon
  packages/tailor-ui/src/Icon/icons/line.tsx
  packages/tailor-ui/src/Icon/icons/messenger.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): fix mention type
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(modal): update modal animation
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: fix lint
  .eslintrc.js
  package.json
  packages/tailor-ui-lab/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Dropdown/SubList.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{ts,tsx}
  stylelint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md,mdx}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
