Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

fix(modal): remove unique from useTransition to prevent style override
  packages/tailor-ui/src/Modal/BaseModal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(modal): backdrop click
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: add @tailor-ui/utils
  .eslintrc.js
  babel.config.js
  doczrc.js
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/utils.ts
  packages/tailor-ui-utils/package.json
  packages/tailor-ui-utils/scripts/rollup.config.js
  packages/tailor-ui-utils/src/index.ts
  packages/tailor-ui-utils/src/mergeEventProps.ts
  packages/tailor-ui-utils/tsconfig.json
  packages/tailor-ui/package.json
  tsconfig.build.json
  tsconfig.json
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(popover): merge children props
  packages/tailor-ui-lab/src/Popover/Popover.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(tooltip): merge children props
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

use shiled type icon for circleCI
  README.md
Due: prettier --write

fix: lint
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: add netlify badge
  README.md
  docs/GetStarted.mdx
Due: prettier --write

remove CI node 8
  .circleci/config.yml
Due: none

feat(modal):add status bar to effect modal
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

refactor(positioner): update config
  packages/tailor-ui/src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(modal): add onOpenComplete & onCloseComplete
  docs/Modal.mdx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

refactor(positioner): use onDestroyed instead of onRest
  packages/tailor-ui/src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(icon): add forwardRef to Icon component
  packages/tailor-ui/src/Icon/Icon.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(tooltip): deprecate text align and update styles
  packages/tailor-ui-lab/src/Tooltip/styles.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat: add preventBodyScroll to utils
  packages/tailor-ui-utils/src/__tests__/index.spec.ts
  packages/tailor-ui-utils/src/index.ts
  packages/tailor-ui-utils/src/merge-event-props.ts
  packages/tailor-ui-utils/src/prevent-body-scroll.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: add styled-components badge
  README.md
  docs/GetStarted.mdx
Due: prettier --write

chore: bump deps
  README.md
  docs/Button.mdx
  docs/Drawer.mdx
  docs/Steps.mdx
  docs/Table.mdx
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Button/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Button/styles.ts
  packages/tailor-ui/src/Modal/CloseButton.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(select): prevent searchable break selected options
  packages/tailor-ui/src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(drawer): add padding to drawer and add usePreventBodyScroll hooks
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/utils/usePreventBodyScroll.ts
  packages/tailor-ui/tsconfig.json
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump deps
  .gitignore
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/scripts/rollup.config.js
  packages/tailor-ui-utils/package.json
  packages/tailor-ui-utils/scripts/rollup.config.js
  packages/tailor-ui/package.json
  packages/tailor-ui/scripts/rollup.config.js
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Card/Card.tsx
  packages/tailor-ui/src/Card/CardBlock.tsx
  packages/tailor-ui/src/Card/CardImage.tsx
  packages/tailor-ui/src/Card/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Card/styles.ts
  packages/tailor-ui/src/Grid/Space.tsx
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Table/styles.ts
  packages/tailor-ui/src/Upload/__tests__/index.spec.tsx
  packages/tailor-ui/src/utils/getTypeIcon.tsx
  tsconfig.build.json
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(menu): add controlled usage
  docs/Menu.mdx
  package.json
  packages/tailor-ui/src/Menu/Menu.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(date-picker): i18n
  package.json
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(packages): migrate Component space value
  packages/tailor-ui/src/Alert/BaseAlert.tsx
  packages/tailor-ui/src/Card/styles.ts
  packages/tailor-ui/src/Divider/Divider.tsx
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Dropdown/SubList.tsx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/message/MessageHub.tsx
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(docs): migrate space value
  docs/Color.tsx
  docs/Grid.mdx
  docs/Menu.mdx
  docs/Space.mdx
  docs/Steps.mdx
  docs/Table.mdx
  docs/UIProvider.mdx
  docs/spacing-scale.mdx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(mention): update mention styles
  packages/tailor-ui-lab/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(docs): update spacing scale table
  docs/spacing-scale.mdx
Due: prettier --write

feat(select): implement new Select
  .gitignore
  docs/lab/Select.mdx
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Popover/styles.tsx
  packages/tailor-ui-lab/src/Select/ClearIcon.tsx
  packages/tailor-ui-lab/src/Select/MultiDownshift.tsx
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectArrow.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/index.ts
  packages/tailor-ui-lab/src/Select/styles.ts
  packages/tailor-ui-lab/src/Select/utils.ts
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/Positioner/PositionerWrapper.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor(portal): new implement
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui/src/Backdrop/Backdrop.tsx
  packages/tailor-ui/src/Backdrop/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Backdrop/__tests__/index.spec.tsx
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/Dropdown.tsx
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Portal/Portal.tsx
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/Spin/Spin.tsx
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Trigger/Trigger.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: fix build
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/scripts/rollup.config.js
  packages/tailor-ui-utils/package.json
  packages/tailor-ui-utils/scripts/rollup.config.js
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(select): remove hover effect when select is close
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs(popover): add positioning docs
  docs/lab/Popover.mdx
Due: prettier --write

chore: remove mention
  docs/Mention.mdx
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Mention/Mention.tsx
  packages/tailor-ui/src/Mention/index.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor: add useHoverTrigger/useRenderChildren/useToggleTrigger for Tooltip and Popover
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui-lab/src/hooks/useHoverTrigger.ts
  packages/tailor-ui-lab/src/hooks/useRenderChildren.ts
  packages/tailor-ui-lab/src/hooks/useToggleTrigger.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write
