Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

chore: bump deps
  package.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(slider): fix typo
  packages/tailor-ui/src/Slider/Slider.tsx
  packages/tailor-ui/src/Slider/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: export types
  packages/tailor-ui-hooks/src/index.ts
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui-theme/src/index.ts
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui-utils/src/index.ts
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(tag): add clickable support
  docs/lab/Tag.mdx
  packages/tailor-ui-lab/src/Tag/Tag.tsx
  packages/tailor-ui-lab/src/Tag/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: upgrade styled-components to v5
  babel.config.js
  package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  packages/tailor-ui/src/Card/__tests__/__snapshots__/Card.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/Checkbox.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/Radio.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Slider/__tests__/__snapshots__/Slider.spec.tsx.snap
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/Spin.spec.tsx.snap
  packages/tailor-ui/src/Tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/TextField.spec.tsx.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(select): add string width support
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(hooks): add generic support to useOwnValue
  packages/tailor-ui-hooks/src/useOwnValue.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(date-picker): add presets support and apply new design
  docs/DatePicker.mdx
  packages/tailor-ui/src/DatePicker/ClearIcon.tsx
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/DatePicker/DatePickerInput.tsx
  packages/tailor-ui/src/DatePicker/DatePresets.tsx
  packages/tailor-ui/src/DatePicker/styles/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/DecadePanel.ts
  packages/tailor-ui/src/DatePicker/styles/MonthPanel.ts
  packages/tailor-ui/src/DatePicker/styles/RangePicker.ts
  packages/tailor-ui/src/DatePicker/styles/common/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/index.ts
  packages/tailor-ui/src/DatePicker/styles/timepicker/index.ts
  packages/tailor-ui/src/DatePicker/styles/utils.ts
  packages/tailor-ui/src/GlobalStyle/GlobalStyle.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

Revert "chore: upgrade styled-components to v5"
  babel.config.js
  package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  packages/tailor-ui/src/Card/__tests__/__snapshots__/Card.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/Checkbox.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Input.spec.tsx.snap
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/Radio.spec.tsx.snap
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Slider/__tests__/__snapshots__/Slider.spec.tsx.snap
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/Spin.spec.tsx.snap
  packages/tailor-ui/src/Tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/TextField.spec.tsx.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: fix tests & upgrade yarn.lock
  babel.config.js
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/Dropdown.tsx.snap
  packages/tailor-ui/src/FormField/validate.ts
  packages/tailor-ui/src/Mention/textarea-caret-position.ts
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.tsx.snap
  packages/tailor-ui/src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/TextField.spec.tsx.snap
  packages/tailor-ui/src/Tooltip/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/Upload.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: use useCallback/useMemo to improve performance
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Dropdown/DropdownItem.tsx
  packages/tailor-ui/src/Input/Input.tsx
  packages/tailor-ui/src/Mention/Mention.tsx
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Portal/Portal.tsx
  packages/tailor-ui/src/Slider/Slider.tsx
  packages/tailor-ui/src/Switch/Switch.tsx
  packages/tailor-ui/src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update size-snapshot
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(tag): update types
  packages/tailor-ui-lab/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(checkbox): support FormField
  docs/Checkbox.mdx
  packages/tailor-ui-hooks/src/useOwnValue.ts
  packages/tailor-ui/src/Checkbox/Checkbox.tsx
  packages/tailor-ui/src/Checkbox/CheckboxContext.ts
  packages/tailor-ui/src/Checkbox/CheckboxGroup.tsx
  packages/tailor-ui/src/Checkbox/__tests__/__snapshots__/CheckboxGrouo.spec.tsx.snap
  packages/tailor-ui/src/Checkbox/styles.ts
  packages/tailor-ui/src/FormField/useFormField.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  .eslintrc.js
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/src/message/HooksMessage.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(radio): support FormField
  docs/Radio.mdx
  packages/tailor-ui/src/Radio/Radio.tsx
  packages/tailor-ui/src/Radio/RadioContext.ts
  packages/tailor-ui/src/Radio/RadioGroup.tsx
  packages/tailor-ui/src/Radio/__tests__/__snapshots__/RadioGroup.spec.tsx.snap
  packages/tailor-ui/src/Radio/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/src/Select/utils.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(date-picker): only call onChange when select date
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui/.size-snapshot.json
  test/jest.setup.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(select): onChange type & export option type
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(select): add deprecated message
  packages/tailor-ui/src/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  .eslintrc.js
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore(tag): add deprecated message
  packages/tailor-ui/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(slider): fix slider touch event
  packages/tailor-ui/src/Slider/Slider.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(form-field): update error message with controlled validationMessage
  docs/FormField.mdx
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/__tests__/FormField.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

style(menu): fix arrow direction of sub menu
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/Menu.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: use file: to install packages in mono repo
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(upload): add props in Button for custom style
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Alert/ClosableAlert.tsx
  types/rc-editor-mention/index.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix: some any type
  package.json
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Alert/__tests__/Alert.spec.tsx
  packages/tailor-ui/src/Card/__tests__/Card.spec.tsx
  packages/tailor-ui/src/Card/styles.ts
  packages/tailor-ui/src/Input/Input.tsx
  packages/tailor-ui/src/Input/styles.ts
  packages/tailor-ui/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{ts,tsx}
  stylelint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md,mdx}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
