Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

feat(stack): impelment stack system
  packages/tailor-ui/src/Backdrop/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Portal/Portal.tsx
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/Positioner/PositionerWrapper.tsx
  packages/tailor-ui/src/Stack/Stack.tsx
  packages/tailor-ui/src/Stack/StackingContext.ts
  packages/tailor-ui/src/Stack/index.ts
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Trigger/Trigger.tsx
  packages/tailor-ui/src/constants/Position.ts
  packages/tailor-ui/src/constants/StackingOrder.ts
  packages/tailor-ui/src/constants/index.ts
  packages/tailor-ui/src/message/MessageHub.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: add useHoverTrigger/useRenderChildren/useToggleTrigger for Tooltip and Popover (#176)
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui-lab/src/hooks/useHoverTrigger.ts
  packages/tailor-ui-lab/src/hooks/useRenderChildren.ts
  packages/tailor-ui-lab/src/hooks/useToggleTrigger.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(popover): add nested usage
  docs/lab/Popover.mdx
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Popover/styles.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/hooks/useRenderChildren.ts
  packages/tailor-ui/package.json
  packages/tailor-ui/src/utils/usePreventBodyScroll.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(select): display corrent label
  docs/lab/Select.mdx
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(dropdown): implement new dropdown
  docs/lab/Dropdown.mdx
  packages/tailor-ui-lab/src/Dropdown/Dropdown.tsx
  packages/tailor-ui-lab/src/Dropdown/DropdownContext.ts
  packages/tailor-ui-lab/src/Dropdown/DropdownItem.tsx
  packages/tailor-ui-lab/src/Dropdown/DropdownSubList.tsx
  packages/tailor-ui-lab/src/Dropdown/index.ts
  packages/tailor-ui-lab/src/Dropdown/styles.ts
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui-lab/src/Tooltip/TooltipPopup.tsx
  packages/tailor-ui-lab/src/Tooltip/styles.tsx
  packages/tailor-ui-lab/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

style: update dropdown/select/mention options padding
  packages/tailor-ui-lab/src/Dropdown/styles.ts
  packages/tailor-ui-lab/src/Mention/styles.ts
  packages/tailor-ui-lab/src/Select/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(select): implement multiple usage
  docs/lab/Select.mdx
  packages/tailor-ui-lab/src/Select/MultiDownshift.tsx
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectInput.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/SelectedOption.tsx
  packages/tailor-ui-lab/src/Select/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(tag): imeplement new tag
  docs/lab/Tag.mdx
  packages/tailor-ui-lab/src/Tag/Tag.tsx
  packages/tailor-ui-lab/src/Tag/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Tag/index.ts
  packages/tailor-ui-lab/src/Tag/styles.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/src/index.ts
  packages/tailor-ui/src/utils/useMeasure.ts
  packages/tailor-ui/src/utils/usePrevious.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

refactor(positioner): performance improvement
  packages/tailor-ui/src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(tabs): add border to card tabs
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(dropdown): spread other props to popover
  docs/lab/Dropdown.mdx
  packages/tailor-ui-lab/src/Dropdown/Dropdown.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: deprecate trigger
  docs/Dropdown.mdx
  docs/Popconfirm.mdx
  docs/Popover.mdx
  docs/Tooltip.mdx
  docs/UIProvider.mdx
  packages/tailor-ui/src/Dropdown/Dropdown.tsx
  packages/tailor-ui/src/Dropdown/DropdownContext.ts
  packages/tailor-ui/src/Dropdown/Item.tsx
  packages/tailor-ui/src/Dropdown/List.tsx
  packages/tailor-ui/src/Dropdown/SubList.tsx
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/__tests__/index.spec.tsx
  packages/tailor-ui/src/Dropdown/index.ts
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/Popconfirm.spec.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/index.ts
  packages/tailor-ui/src/Popover/Popover.tsx
  packages/tailor-ui/src/Popover/index.ts
  packages/tailor-ui/src/Tooltip/BaseTooltip.tsx
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Tooltip/index.ts
  packages/tailor-ui/src/Trigger/Trigger.tsx
  packages/tailor-ui/src/Trigger/getPosition.ts
  packages/tailor-ui/src/Trigger/getTransitionProps.ts
  packages/tailor-ui/src/Trigger/index.ts
  packages/tailor-ui/src/Trigger/type.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(form-field): implement new FormField
  docs/FormField.mdx
  docs/Input.mdx
  docs/TextField.mdx
  docs/lab/Mention.mdx
  package.json
  packages/tailor-ui-lab/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  packages/tailor-ui/src/Form/FormField.tsx
  packages/tailor-ui/src/Form/Hint.tsx
  packages/tailor-ui/src/Form/Label.tsx
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/FormFieldContext.ts
  packages/tailor-ui/src/FormField/index.ts
  packages/tailor-ui/src/FormField/styles.ts
  packages/tailor-ui/src/FormField/useFormField.ts
  packages/tailor-ui/src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Heading/__tests__/index.spec.tsx
  packages/tailor-ui/src/Input/Input.tsx
  packages/tailor-ui/src/Input/Textarea.tsx
  packages/tailor-ui/src/Input/styles.ts
  packages/tailor-ui/src/TelInput/style.ts
  packages/tailor-ui/src/TextField/TextField.tsx
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/index.spec.tsx
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
  packages/tailor-ui/src/message/MessageHub.tsx
  packages/tailor-ui/src/utils/createUIDGenerator.ts
  packages/tailor-ui/src/utils/createUuidGenerator.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: remove useless file
  packages/tailor-ui/src/utils/ClickOutside.tsx
  packages/tailor-ui/src/utils/rect-observer.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

test(mergeEventProps): add tests
  packages/tailor-ui-utils/src/merge-event-props/__tests__/index.spec.js
  packages/tailor-ui-utils/src/merge-event-props/index.ts
  packages/tailor-ui-utils/src/merge-event-props/merge-event-props.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): prevent call onChange when create and improve formatCreateLabel & multiple create
  docs/lab/Select.mdx
  packages/tailor-ui-lab/src/Select/MultiDownshift.tsx
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/styles.ts
  packages/tailor-ui-lab/src/Select/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(mention): suggestion height
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: add scripts to install all packages dependencies
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(Tag): add onBlur status
  docs/lab/Tag.mdx
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(select): console.log
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(textarea): invalid warning and remove error/message from textfield
  docs/TextField.mdx
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/index.ts
  packages/tailor-ui/src/Input/Textarea.tsx
  packages/tailor-ui/src/TextField/TextField.tsx
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(select): should not remove item when keyup
  packages/tailor-ui-lab/src/Select/SelectInput.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(Tag): escape editable tag
  packages/tailor-ui-lab/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(textarea): prevent pass invalid to textarea component
  packages/tailor-ui/src/Input/Textarea.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  docs/Input.mdx
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Checkbox/CheckboxGroup.tsx
  packages/tailor-ui/src/Input/Textarea.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

tests(Tag): add more tests for Tag component
  packages/tailor-ui-lab/src/Tag/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tag/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(input): add assertion in change input test
  packages/tailor-ui-lab/src/Tag/__tests__/index.spec.tsx
  packages/tailor-ui/src/Input/__tests__/Input.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(textfield): add validator support to TextField
  docs/TextField.mdx
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/TextField/TextField.tsx
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/TextField/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

tests(tooltip): add snapshot
  packages/tailor-ui-lab/src/Tooltip/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tooltip/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): content overflow
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectArrow.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

tests(@tailor-ui/lab): add snapshots
  packages/tailor-ui-lab/src/Dropdown/Dropdown.tsx
  packages/tailor-ui-lab/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Dropdown/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui-lab/src/Popconfirm/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Popconfirm/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Popover/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Popover/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Select/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write
