Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["eslint --ext=ts,tsx --fix", "stylelint"],
  "*.{md,json}": ["prettier --write"],
  "package.json": ["prettier-package-json --write", "prettier --write"],
  ".*rc": ["prettier --parser json --write"]
}

chore(release): 1.8.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  31c836622fe111d1c423dbbcd22f78e578a6e0dd
Due: none

fix: blurry bugs
  src/theme/globalStyle.ts
Due: eslint --ext=ts,tsx --fix, stylelint

fix(table): #545 overflow bugs
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  src/Table/Table.tsx
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  src/Table/styles.ts
  website/docs/Table.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write

chore(release): 1.8.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  8708a729aa3c054c89c0ff77ea8d828c51beca2b
Due: none

fix(table): always reset shadow
  src/Table/Table.tsx
Due: eslint --ext=ts,tsx --fix, stylelint

docs: use slug instead of homePageId
  website/docs/getting-started.md
  website/docusaurus.config.js
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write

chore: remove lerna tag
  README.md
  website/docs/getting-started.md
Due: prettier --write

chore: bump deps
  package.json
  src/Alert/ClosableAlert.tsx
  src/Backdrop/Backdrop.tsx
  src/Badge/Badge.tsx
  src/Badge/styles.ts
  src/Drawer/Drawer.tsx
  src/FormField/FormField.tsx
  src/Mention/Suggestions.tsx
  src/Mention/styles.ts
  src/Menu/SubMenu.tsx
  src/Modal/AnimationModal.tsx
  src/Positioner/Positioner.tsx
  src/Positioner/PositionerImpl.tsx
  src/Select/SelectArrow.tsx
  src/Tag/Tag.tsx
  src/lab/Tabs/Tabs.tsx
  src/lab/Tabs/styles.ts
  src/lab/Tooltip/Tooltip.tsx
  src/message/HooksMessage.tsx
  src/notification/HooksNotification.tsx
  test/test-utils.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write, prettier-package-json --write

fix(modal): add useChain back for status bar delay render
  src/Modal/AnimationModal.tsx
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint

feat(select): support async search
  src/lab/Select/Select.tsx
  src/lab/Select/utils.ts
  website/docs/lab/Select.md
  website/src/theme/ReactLiveScope/index.js
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  d1576f830beeef38a2b80550bd944e92abfb7489
Due: none

fix(select): use ellipsis in multiple select tag to prevent overflow
  src/Ellipsis/Ellipsis.tsx
  src/Tag/Tag.tsx
  src/Tag/__tests__/__snapshots__/Tag.spec.tsx.snap
  src/lab/Select/MultipleSelect.tsx
Due: eslint --ext=ts,tsx --fix, stylelint

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  dd606a89bcf489bacfab35b0aee0d38f68b9b70a
Due: none

chore: bump deps
  package.json
  src/Checkbox/CheckboxGroup.tsx
  src/Container/Container.tsx
  src/FormField/useFormField.ts
  src/Popover/Popover.tsx
  src/Select/SelectOptions.tsx
  src/Slider/Slider.tsx
  src/Steps/Step.tsx
  src/Table/FixedColumnContext.tsx
  src/lab/Select/utils.ts
  src/lab/Tooltip/Tooltip.tsx
  src/notification/useNotification.ts
  website/src/pages/index.js
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write, prettier-package-json --write

chore: update netlify settings and minor tweak
  .circleci/config.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  package.json
  website/docs/getting-started.md
  website/docusaurus.config.js
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write, prettier-package-json --write

chore: bump deps
  jest.config.js
  package.json
  src/Badge/__tests__/Badge.spec.tsx
  src/Select/SelectOptions.tsx
  src/Slider/Slider.tsx
  src/lab/Tooltip/Tooltip.tsx
  website/package.json
  website/yarn.lock
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write, prettier-package-json --write

docs: add release note
  README.md
Due: prettier --write

chore: use node 14 image on ci
  .circleci/config.yml
Due: none

deps: use node 14.17 image
  .circleci/config.yml
Due: none

Update .circleci/config.yml
  .circleci/config.yml
Due: none

chore: bump root and website deps and add some website deps
  .circleci/config.yml
  babel.config.js
  config/rollup.config.js
  package.json
  src/FormField/validate.ts
  src/Select/Select.tsx
  src/hooks/useOwnValue.ts
  website/.eslintrc.js
  website/babel.config.js
  website/docs/Colors.js
  website/docusaurus.config.js
  website/package.json
  website/src/context/LocaleContext.js
  website/src/context/ThemeContext.js
  website/src/pages/index.js
  website/src/theme/Footer new/index.js
  website/src/theme/Footer new/styles.module.css
  website/src/theme/Footer/index.js
  website/src/theme/Layout new/index.js
  website/src/theme/Layout new/styles.css
  website/src/theme/Layout/index.js
  website/src/theme/Playground new/index.js
  website/src/theme/Playground new/styles.module.css
  website/src/theme/Playground/index.js
  website/src/theme/ReactLiveScope/index.js
  website/yarn.lock
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write, prettier-package-json --write

fix: User title and alt
  website/src/pages/index.js
Due: eslint --ext=ts,tsx --fix, stylelint

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  7497633165b7391f71ce59c54590e3f255474989
Due: none

feat(table): add disabled props to table row
  src/Table/styles.ts
  website/docs/Table.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write

feat(table): add Table.Row disabled example && update snapshot
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  website/docs/Table.md
Due: prettier --write

Add generic type to usePrevious
  src/hooks/usePrevious.ts
Due: eslint --ext=ts,tsx --fix, stylelint

Update usePrevious.ts
  src/hooks/usePrevious.ts
Due: eslint --ext=ts,tsx --fix, stylelint

docs: add CI env var setting doc
  README.md
Due: prettier --write

feat(modal): useModal add size props
  src/Modal/HooksModal.tsx
  website/docs/Modal.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --write
