Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

feat(mention): implement new Mention
  docs/lab/Mention.mdx
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/SuggestionEntry.tsx
  packages/tailor-ui-lab/src/Mention/convertStringToEditorState.ts
  packages/tailor-ui-lab/src/Mention/index.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/scripts/rollup.config.js
  types/draft-js-mention-plugin/index.d.ts
  types/draft-js-plugins-editor/index.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(tailor-ui): [Spin] add fullscreen usage
  .eslintrc.js
  docs/Spin.mdx
  package.json
  packages/tailor-ui/src/Spin/Spin.tsx
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/index.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: update size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore: update release script
  package.json
Due: prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: fix build
  babel.config.js
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/scripts/rollup.config.js
  packages/tailor-ui/package.json
  packages/tailor-ui/scripts/rollup.config.js
Due: prettier --write, prettier-package-json --write

feat(Heading): add testid tests for Heading (h1~h6)
  packages/tailor-ui/src/Heading/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Button): add testid tests for Button
  packages/tailor-ui/src/Button/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Checkbox): add testid tests for Checkbox
  packages/tailor-ui/src/Checkbox/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Radio): add testid tests for Radio
  packages/tailor-ui/src/Radio/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Tabs): add testid tests for Tabs
  packages/tailor-ui/src/Tabs/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Icon): add testid tests for Icon
  packages/tailor-ui/src/Icon/__tests__/Icon.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Select): add testid tests for Select
  packages/tailor-ui/src/Select/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Select/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(tags): prevent emit onClosed on initial
  packages/tailor-ui/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: add commit message to lerna config
  lerna.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: fix tailor-ui entry
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore(lab): remove useless readme
  packages/tailor-ui-lab/README.md
Due: prettier --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
Due: prettier --write, prettier-package-json --write

fix: i18n
  docs/UIProvider.mdx
  packages/tailor-ui/src/UIProvider/LocaleContext.ts
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/locale/index.ts
  packages/tailor-ui/src/locale/zh_Hant.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(switch): spread props to input element
  packages/tailor-ui/src/Switch/Switch.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(Switch): add testid tests for Switch
  packages/tailor-ui/src/Switch/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: remove umd build
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/scripts/rollup.config.js
Due: prettier --write, prettier-package-json --write

chore(deps): bump deps and use another textarea autosize lib
  docs/Input.mdx
  package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Input/Textarea.tsx
  packages/tailor-ui/src/Menu/SubMenu.tsx
  packages/tailor-ui/src/index.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(mention): impelment new Mention
  docs/lab/Mention.mdx
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui-lab/src/Mention/index.ts
  packages/tailor-ui-lab/src/Mention/textarea-caret-position.ts
  packages/tailor-ui-lab/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(mention): add creatable and auto scroll
  docs/lab/Mention.mdx
  package.json
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui-lab/src/Mention/overlay-position.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: fix tests and lint
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/TextField/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/utils/useKeydown.ts
  packages/tailor-ui/src/utils/useMeasure.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(mention): add input support
  docs/lab/Mention.mdx
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui/src/Input/Input.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(mention): add highlightInvalid for display not exist mention
  docs/lab/Mention.mdx
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(mention): create mention
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): do not highlight mention in two line
  packages/tailor-ui-lab/src/Mention/highlight.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(mention): move utils function to another file
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/Suggestions.tsx
  packages/tailor-ui-lab/src/Mention/highlight.ts
  packages/tailor-ui-lab/src/Mention/overlay-position.ts
  packages/tailor-ui-lab/src/Mention/styles.ts
  packages/tailor-ui-lab/src/Mention/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): remove input support to prevent highlight broken
  docs/lab/Mention.mdx
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/styles.ts
  packages/tailor-ui-lab/src/Mention/textarea-caret-position.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(mention): split mention text for multiple line support
  packages/tailor-ui-lab/src/Mention/highlight.ts
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): use includes instead of regexp to prevent match broken
  packages/tailor-ui-lab/src/Mention/highlight.ts
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): auto update highlight content scrollTop when scroll textarea
  packages/tailor-ui-lab/src/Mention/Mention.tsx
  packages/tailor-ui-lab/src/Mention/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test(mention): add basic define test
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write
