Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  a5df22c6f2be819881ffeba32f4c154acf0a30f1
Due: none

fix(positioner): update useRect api usage
  src/Positioner/PositionerImpl.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(select): add stack order to Select
  src/lab/Select/SelectOptions.tsx
  website/docs/lab/Select.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(tooltip): add stack order to Tooltip
  src/lab/Tooltip/Tooltip.tsx
  website/docs/lab/Tooltip.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): prevent parent popover disapear when click options of lab select
  src/Popover/Popover.tsx
  src/lab/Select/Select.tsx
  website/docs/Popover.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  99ae1e8ec76f389a03f691f9fbbcf0ec2c723644
Due: none

fix(date-picker): use customize dateFns config to decrease bundle size
  src/DatePicker/hooks/dateFnsGenerateConfig.ts
  src/DatePicker/hooks/useSharedProps.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  63238f631693202f9be22c21d0cfb7f37ea05248
Due: none

chore: bump deps
  package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: fix yarn.lock and remove babel polyfill
  package.json
  test/jest.setup.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(date-picker): pass custom generateConfig
  src/DatePicker/DateRangePicker.tsx
  src/DatePicker/hooks/useSharedProps.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(date-picker): export DatePickerPanel for calendar usage
  src/DatePicker/DatePickerPanel.tsx
  src/DatePicker/index.ts
  src/DatePicker/styles.ts
  website/docs/DatePicker.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(textarea): remove FC to keep ref props
  src/Input/Textarea.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(select): add hint to select option
  src/lab/Select/SelectOptions.tsx
  src/lab/Select/types.ts
  src/lab/Select/utils.ts
  website/docs/lab/Select.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(date-picker): prevent trigger close when it is rendered in popover
  src/DatePicker/hooks/useSharedProps.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(tag): add disabled API
  src/Tag/Tag.tsx
  src/Tag/styles.ts
  website/docs/Tag.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(select): implement new MultipleSelect based on downshift.js
  package.json
  src/Card/__tests__/__snapshots__/Card.spec.tsx.snap
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  src/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  src/Tag/__tests__/__snapshots__/Tag.spec.tsx.snap
  src/lab/Select/MultipleSelect.tsx
  src/lab/Select/Select.tsx
  src/lab/Select/SelectOptions.tsx
  src/lab/Select/index.ts
  src/lab/Select/styles.ts
  src/lab/Select/utils.ts
  src/theme/theme.ts
  website/docs/lab/Select.md
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  281bf671146e701c8cb6118cb38702f9e57ea2f5
Due: none

feat(select): use forwardRef to pass ref down
  src/lab/Select/MultipleSelect.tsx
  src/lab/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: prefer use ComponentPropWithoutRef to get html props
  src/AutoSizeInput/AutoSizeInput.tsx
  src/Backdrop/Backdrop.tsx
  src/Button/Button.tsx
  src/Card/styles.ts
  src/Icon/Icon.tsx
  src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  src/hooks/useMeasure.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump deps
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(table): use forwardRef
  src/Table/Table.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(positioner): hide useless warning
  src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  e0230c68394d0cf3718b9f2b86e07443e42c9a76
Due: none

fix(positioner): useless warning condition
  src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  e0d7ca74d2097dad480d4ca1058c65b881e9e7d0
Due: none

fix(table): children type of Head & Body
  src/Table/Table.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  82ff65a28a1418917934030dcfc46d71f89e3b17
Due: none

fix(select): generic types
  src/lab/Select/MultipleSelect.tsx
  src/lab/Select/Select.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  a914ec109b7bcd96411fe6fa9db3b90d15cbb599
Due: none

fix(select): IME bugs & add missing no options message
  src/lab/Select/MultipleSelect.tsx
  src/lab/Select/Select.tsx
  src/lab/Select/SelectOptions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{js,ts,tsx}
  stylelint: any of: *.{js,ts,tsx}
  prettier --parser typescript --write: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.json) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
