Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

chore: add @tailor-ui/theme
  .eslintrc.js
  babel.config.js
  docs/Color.tsx
  doczrc.js
  packages/tailor-ui-theme/config/rollup.config.js
  packages/tailor-ui-theme/config/tsconfig.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-theme/src/__tests__/index.spec.js
  packages/tailor-ui-theme/src/globalStyle.ts
  packages/tailor-ui-theme/src/index.ts
  packages/tailor-ui-theme/src/theme.ts
  packages/tailor-ui/package.json
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/DatePicker/styles/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/DecadePanel.ts
  packages/tailor-ui/src/DatePicker/styles/MonthPanel.ts
  packages/tailor-ui/src/DatePicker/styles/TimePanel.ts
  packages/tailor-ui/src/DatePicker/styles/YearPanel.ts
  packages/tailor-ui/src/DatePicker/styles/common/Calendar.ts
  packages/tailor-ui/src/DatePicker/styles/index.ts
  packages/tailor-ui/src/DatePicker/styles/timepicker/index.ts
  packages/tailor-ui/src/GlobalStyle/GlobalStyle.ts
  packages/tailor-ui/src/GlobalStyle/index.ts
  packages/tailor-ui/src/Steps/Steps.tsx
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
  test/test-utils.tsx
  tsconfig.build.json
  types/index.d.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor(select): make select more test friendly
  docs/lab/Select.mdx
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectInput.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Select/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Select/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

refactor(message): render message in Portal
  packages/tailor-ui/src/message/EffectMessage.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

tests(message): add some test and prevent render when no message
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Input/__tests__/__snapshots__/Textarea.spec.tsx.snap
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popover/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/message/EffectMessage.tsx
  packages/tailor-ui/src/message/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/message/__tests__/index.spec.tsx
  test/test-utils.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: update .size-snapshot
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

test(tooltip): add some tests
  package.json
  packages/tailor-ui/src/Tooltip/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

refactor: use built-in Omit generic
  packages/tailor-ui-utils/src/types.ts
  packages/tailor-ui/src/Dropdown/Dropdown.tsx
  packages/tailor-ui/src/Input/Input.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test: add tests & update structure to utils
  packages/tailor-ui-utils/package.json
  packages/tailor-ui-utils/src/index.ts
  packages/tailor-ui-utils/src/merge-event-props/__tests__/index.spec.js
  packages/tailor-ui-utils/src/merge-event-props/index.ts
  packages/tailor-ui-utils/src/mergeEventProps/__tests__/mergeEventProps.spec.ts
  packages/tailor-ui-utils/src/mergeEventProps/index.ts
  packages/tailor-ui-utils/src/mergeEventProps/mergeEventProps.ts
  packages/tailor-ui-utils/src/preventBodyScroll/__tests__/preventBodyScroll.spec.ts
  packages/tailor-ui-utils/src/preventBodyScroll/index.ts
  packages/tailor-ui-utils/src/preventBodyScroll/preventBodyScroll.ts
  packages/tailor-ui-utils/src/types/index.ts
  packages/tailor-ui-utils/src/types/types.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(table): add flex:none to prevent shrink
  packages/tailor-ui/src/Table/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(form-field): try to fix UID not equal between client and server
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/FormFieldContext.ts
  packages/tailor-ui/src/FormField/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/FormField/__tests__/index.spec.tsx
  packages/tailor-ui/src/utils/createUIDGenerator.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update .size-snapshot
  package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write, prettier-package-json --write

refactor: update file structure
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-hooks/src/index.ts
  packages/tailor-ui-hooks/src/useClickOutside.ts
  packages/tailor-ui-hooks/src/useHoverTrigger.ts
  packages/tailor-ui-hooks/src/useKeydown.ts
  packages/tailor-ui-hooks/src/useMeasure.ts
  packages/tailor-ui-hooks/src/usePreventBodyScroll.ts
  packages/tailor-ui-hooks/src/usePrevious.ts
  packages/tailor-ui-hooks/src/useRenderChildren.ts
  packages/tailor-ui-hooks/src/useTargetRef.ts
  packages/tailor-ui-hooks/src/useToggleTrigger.ts
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/__tests__/Select.spec.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui-lab/src/Select/index.ts
  packages/tailor-ui-lab/src/Tabs/Tabs.tsx
  packages/tailor-ui-lab/src/Tabs/__tests__/Tab.spec.tsx
  packages/tailor-ui-lab/src/Tabs/__tests__/__snapshots__/Tab.spec.tsx.snap
  packages/tailor-ui-lab/src/Tabs/index.ts
  packages/tailor-ui-lab/src/Tag/Tag.tsx
  packages/tailor-ui-lab/src/Tag/__tests__/Tag.spec.tsx
  packages/tailor-ui-lab/src/Tag/__tests__/__snapshots__/Tag.spec.tsx.snap
  packages/tailor-ui-lab/src/Tag/index.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-theme/src/__tests__/index.spec.ts
  packages/tailor-ui-theme/src/globalStyle.ts
  packages/tailor-ui-theme/src/index.ts
  packages/tailor-ui-theme/src/theme.ts
  packages/tailor-ui-utils/src/types.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(select): SelectOption type
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: remove useless utils
  packages/tailor-ui/src/Alert/Alert.tsx
  packages/tailor-ui/src/Alert/BaseAlert.tsx
  packages/tailor-ui/src/FormField/FormField.tsx
  packages/tailor-ui/src/FormField/__tests__/FormField.spec.tsx
  packages/tailor-ui/src/FormField/__tests__/__snapshots__/FormField.spec.tsx.snap
  packages/tailor-ui/src/Icon/icons/index.ts
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/EffectModal.tsx
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/UIProvider/UIDContext.tsx
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/index.ts
  packages/tailor-ui/src/message/EffectMessage.tsx
  packages/tailor-ui/src/types/index.ts
  packages/tailor-ui/src/types/ststus.ts
  packages/tailor-ui/src/utils/createUIDGenerator.ts
  packages/tailor-ui/src/utils/getTypeIcon.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: re-implement provider
  docs/UIProvider.mdx
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/Modal/EffectModalContext.ts
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/HooksModalProvider.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
  packages/tailor-ui/src/Modal/useModal.ts
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/UIProvider/LocaleContext.ts
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/UIProvider/index.ts
  packages/tailor-ui/src/Upload/Upload.tsx
  packages/tailor-ui/src/index.ts
  packages/tailor-ui/src/locale/LocaleProvider.tsx
  packages/tailor-ui/src/locale/index.ts
  packages/tailor-ui/src/locale/locales/en_US.ts
  packages/tailor-ui/src/locale/locales/index.ts
  packages/tailor-ui/src/locale/locales/zh_Hant.ts
  packages/tailor-ui/src/locale/useLocale.ts
  packages/tailor-ui/src/message/EffectMessageContext.ts
  packages/tailor-ui/src/message/HooksMessage.tsx
  packages/tailor-ui/src/message/HooksMessageProvider.tsx
  packages/tailor-ui/src/message/useMessage.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Mention/Suggestions.tsx
  packages/tailor-ui/src/TextField/__tests__/TextField.spec.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

test(select): add more tests
  packages/tailor-ui-lab/src/Select/ClearIcon.tsx
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectOptions.tsx
  packages/tailor-ui-lab/src/Select/SelectedOption.tsx
  packages/tailor-ui-lab/src/Select/__tests__/Select.spec.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui-lab/src/Select/utils.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test(button): add more snapshot
  docs/Button.mdx
  packages/tailor-ui/src/Button/__tests__/Button.spec.tsx
  packages/tailor-ui/src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  packages/tailor-ui/src/Button/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: remove useless deps
  package.json
  packages/tailor-ui/package.json
  types/html-tags/index.d.ts
  types/react-html-attributes/index.d.ts
  types/react-textarea-autosize/index.d.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: update build
  config/rollup.config.js
  package.json
  packages/tailor-ui-hooks/config/rollup.config.js
  packages/tailor-ui-lab/config/rollup.config.js
  packages/tailor-ui-theme/config/rollup.config.js
  packages/tailor-ui-utils/config/rollup.config.js
  packages/tailor-ui/config/rollup.config.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(container): implement container
  docs/Container.mdx
  packages/tailor-ui/src/Container/Container.tsx
  packages/tailor-ui/src/Container/__tests__/Container.spec.tsx
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/index.ts
  packages/tailor-ui/src/Container/styles.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: update .size-snapshot
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

fix(modal): pass closable to footer
  docs/Modal.mdx
  docs/lab/Tag.mdx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/Modal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

docs: remove changelog
  CHANGELOG.md
Due: prettier --write

fixed UIProvider docs typo
  docs/UIProvider.mdx
Due: prettier --write

fix(container): update title type
  packages/tailor-ui/src/Container/Container.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{ts,tsx}
  stylelint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md,mdx}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
