Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

style(container): update title divider color
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(upload): button props is optional
  packages/tailor-ui/src/Upload/Upload.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: use latest version of package deps
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(spin): new style
  docs/Spin.mdx
  packages/tailor-ui/src/Spin/Spin.tsx
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/Spin.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix: checkbox & radio types
  packages/tailor-ui/src/Checkbox/Checkbox.tsx
  packages/tailor-ui/src/Radio/Radio.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(page-header): implement PageHeader & Ellipsis
  docs/PageHeader.mdx
  packages/tailor-ui/src/Ellipsis/Ellipsis.tsx
  packages/tailor-ui/src/Ellipsis/index.ts
  packages/tailor-ui/src/PageHeader/PageHeader.tsx
  packages/tailor-ui/src/PageHeader/index.ts
  packages/tailor-ui/src/PageHeader/styles.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

style(page-header): remove background color
  docs/PageHeader.mdx
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/PageHeader/PageHeader.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

style(page-header): add font-weight to breadcrumb & fix divider
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/PageHeader/PageHeader.tsx
  packages/tailor-ui/src/PageHeader/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

feat(breadcrumb): move breadcrumb out from page header
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Breadcrumb/Breadcrumb.tsx
  packages/tailor-ui/src/Breadcrumb/index.ts
  packages/tailor-ui/src/Breadcrumb/styles.ts
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/PageHeader/PageHeader.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.tsx.snap
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat: implement @tailor-ui/formik
  .eslintrc.js
  docs/formik/CheckboxField.mdx
  docs/formik/InputField.mdx
  docs/formik/RadioField.mdx
  docs/formik/SelectField.mdx
  docs/formik/TextareaField.mdx
  doczrc.js
  package.json
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-formik/README.md
  packages/tailor-ui-formik/config/rollup.config.js
  packages/tailor-ui-formik/config/tsconfig.json
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-formik/src/CheckboxField/CheckboxField.tsx
  packages/tailor-ui-formik/src/CheckboxField/index.ts
  packages/tailor-ui-formik/src/InputField/InputField.tsx
  packages/tailor-ui-formik/src/InputField/index.ts
  packages/tailor-ui-formik/src/RadioField/RadioField.tsx
  packages/tailor-ui-formik/src/RadioField/index.ts
  packages/tailor-ui-formik/src/SelectField/SelectField.tsx
  packages/tailor-ui-formik/src/SelectField/index.ts
  packages/tailor-ui-formik/src/TextareaField/TextareaField.tsx
  packages/tailor-ui-formik/src/TextareaField/index.ts
  packages/tailor-ui-formik/src/index.ts
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/SelectInput.tsx
  packages/tailor-ui/src/Checkbox/Checkbox.tsx
  packages/tailor-ui/src/Checkbox/CheckboxGroup.tsx
  packages/tailor-ui/src/Input/Textarea.tsx
  packages/tailor-ui/src/Radio/Radio.tsx
  packages/tailor-ui/src/Radio/RadioGroup.tsx
  tsconfig.build.json
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix: add missing typing root of @tailor-ui/formik
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-formik/package.json
Due: prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
Due: prettier --write, prettier-package-json --write

feat(modal): add close & update to hooks modal
  docs/Modal.mdx
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/HooksModalProvider.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(formik): composite events
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-formik/src/CheckboxField/CheckboxField.tsx
  packages/tailor-ui-formik/src/InputField/InputField.tsx
  packages/tailor-ui-formik/src/RadioField/RadioField.tsx
  packages/tailor-ui-formik/src/SelectField/SelectField.tsx
  packages/tailor-ui-formik/src/TextareaField/TextareaField.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: update size-snapshot
  packages/tailor-ui-formik/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(modal): useModal types
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Modal/HooksModalProvider.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(portal): use appendChild instead of append
  packages/tailor-ui/src/Portal/Portal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(popover): add Wrapper usage to Popover
  packages/tailor-ui/src/Popover/Popover.tsx
  packages/tailor-ui/src/Popover/PopoverPopup.tsx
  packages/tailor-ui/src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Tooltip/TooltipPopup.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore: upgrade typescript to 3.7
  package.json
  packages/tailor-ui-formik/config/tsconfig.json
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Select/index.ts
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Checkbox/Checkbox.tsx
  packages/tailor-ui/src/Radio/Radio.tsx
  packages/tailor-ui/src/locale/index.ts
  packages/tailor-ui/src/types/index.ts
  packages/tailor-ui/src/types/status.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat: add shadows to table when it used with header/footer
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/styles.ts
  packages/tailor-ui/src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(theme): remove global svg pointer-events: none
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui-theme/src/globalStyle.ts
  packages/tailor-ui/src/Alert/__tests__/__snapshots__/Alert.spec.tsx.snap
  packages/tailor-ui/src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/Menu.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.tsx.snap
  packages/tailor-ui/src/Steps/__tests__/__snapshots__/Steps.spec.tsx.snap
  packages/tailor-ui/src/Upload/__tests__/__snapshots__/Upload.spec.tsx.snap
  packages/tailor-ui/src/message/__tests__/__snapshots__/message.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Breadcrumb/Breadcrumb.tsx
  packages/tailor-ui/src/Layout/Flex.ts
  packages/tailor-ui/src/Modal/HooksModalProvider.tsx
  packages/tailor-ui/src/Typography/Heading.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

docs: comment broken API table
  docs/Alert.mdx
  docs/Card.mdx
  docs/DatePicker.mdx
  docs/Drawer.mdx
  docs/Mention.mdx
  docs/Menu.mdx
  docs/Select.mdx
  docs/Slider.mdx
  docs/Switch.mdx
  docs/Tag.mdx
  docs/TextField.mdx
  docs/lab/Select.mdx
  docs/lab/Tag.mdx
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(layout): add shadow support
  packages/tailor-ui/src/Layout/Box.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

style(theme): update box-shadows
  docs/PageHeader.mdx
  packages/tailor-ui-theme/src/theme.ts
  packages/tailor-ui/src/Card/__tests__/__snapshots__/Card.spec.tsx.snap
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/styles.ts
  packages/tailor-ui/src/DatePicker/styles/timepicker/index.ts
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/Dropdown.tsx.snap
  packages/tailor-ui/src/Mention/styles.ts
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/Popconfirm.tsx.snap
  packages/tailor-ui/src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  packages/tailor-ui/src/Popover/styles.tsx
  packages/tailor-ui/src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(formik): prevent return previous value when click clear button
  packages/tailor-ui-formik/src/SelectField/SelectField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write
