Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

fix(table): adjust padding and line-height of columns
  packages/tailor-ui/src/Table/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(mention): update position
  packages/tailor-ui-lab/src/Mention/Mention.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): add form field supported
  docs/FormField.mdx
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/styles.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(Tag): add canClose
  packages/tailor-ui-lab/src/Tag/Tag.tsx
  packages/tailor-ui-lab/src/Tag/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(popover): cannot click outside when use nested popover with controlled visible
  docs/lab/Popover.mdx
  packages/tailor-ui-lab/src/hooks/useToggleTrigger.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

test(popover): add more test to popover
  packages/tailor-ui-lab/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Popconfirm/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Popover/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Popover/__tests__/index.spec.tsx
  packages/tailor-ui-lab/src/Popover/styles.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(mention): close dropdown correct when blur
  packages/tailor-ui-lab/src/Mention/Mention.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(positioner): add useTargetRef
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
  packages/tailor-ui-lab/src/hooks/useRenderChildren.ts
  packages/tailor-ui-lab/src/hooks/useTargetRef.ts
  packages/tailor-ui/src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
Due: prettier --write, prettier-package-json --write

fix(Tag): close icon status check
  packages/tailor-ui-lab/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs(tag): add canClose usage
  docs/lab/Tag.mdx
Due: prettier --write

test(tag): add more tests
  packages/tailor-ui-lab/src/Tag/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(modal) correct onOpenComplete & onCloseComplete
  docs/Modal.mdx
  packages/tailor-ui/src/Modal/BaseModal.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(positioner): add onOpenComplete & onCloseComplete
  packages/tailor-ui/src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat: add onOpenComplete & onCloseComplete to Popover/Tooltip/Popconfirm/Dropdown
  packages/tailor-ui-lab/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui-lab/src/Popover/Popover.tsx
  packages/tailor-ui-lab/src/Tooltip/Tooltip.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs(tag): add canClose function on example
  docs/lab/Tag.mdx
Due: prettier --write

chore(mention): move to main repo
  docs/Mention.mdx
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/src/Mention/Mention.tsx
  packages/tailor-ui/src/Mention/Suggestions.tsx
  packages/tailor-ui/src/Mention/__tests__/Mention.spec.tsx
  packages/tailor-ui/src/Mention/__tests__/__snapshots__/Mention.spec.tsx.snap
  packages/tailor-ui/src/Mention/highlight.ts
  packages/tailor-ui/src/Mention/index.ts
  packages/tailor-ui/src/Mention/styles.ts
  packages/tailor-ui/src/Mention/textarea-caret-position.ts
  packages/tailor-ui/src/Mention/utils.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

chore: bump deps
  package.json
  packages/tailor-ui-lab/src/Popover/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/hooks/useRenderChildren.ts
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Heading/Heading.tsx
  packages/tailor-ui/src/Heading/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/index.spec.tsx.snap
  test/test-utils.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

style: update breakpoints
  docs/Responsive.mdx
  packages/tailor-ui/src/theme/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

style(table): add min height to Row
  packages/tailor-ui/src/Table/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  jest.config.js
  package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/package.json
  test/__mocks__/fileMock.js
  test/__mocks__/styleMock.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(message): add useMessage instead of side effect usage
  docs/Steps.mdx
  docs/lab/Popconfirm.mdx
  docs/message.mdx
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
  packages/tailor-ui/src/message/EffectMessage.tsx
  packages/tailor-ui/src/message/EffectMessageContext.ts
  packages/tailor-ui/src/message/index.ts
  packages/tailor-ui/src/message/message.tsx
  packages/tailor-ui/src/message/useMessage.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

refactor(tag): use function component instead of class component
  packages/tailor-ui/src/Tag/Tag.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): popover width
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Select/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat: implement AutoWidthInput
  packages/tailor-ui-lab/src/AutoSizeInput/AutoSizeInput.tsx
  packages/tailor-ui-lab/src/AutoSizeInput/index.ts
  packages/tailor-ui-lab/src/Select/SelectInput.tsx
  packages/tailor-ui-lab/src/Select/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Select/styles.ts
  packages/tailor-ui-lab/src/Tag/Tag.tsx
  packages/tailor-ui-lab/src/Tag/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui-lab/src/Tag/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

test(upload): fix tests
  packages/tailor-ui/src/Upload/__tests__/index.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: add name to memo component for development friendly
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Popconfirm/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Popover/__tests__/__snapshots__/index.spec.tsx.snap
  packages/tailor-ui/src/Positioner/PositionerWrapper.tsx
  packages/tailor-ui/src/Tooltip/__tests__/__snapshots__/index.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-hooks/scripts/rollup.config.js
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/scripts/rollup.config.js
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui-utils/scripts/rollup.config.js
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/scripts/rollup.config.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: fix build
  babel.config.js
  package.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: update author
  package.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: bump deps
  package.json
  test/jest.setup.ts
  test/test-utils.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: fix release flow
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{ts,tsx}
  stylelint: any of: *.{ts,tsx}
  prettier --parser typescript --write: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md,mdx}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
