Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write"
  ],
  "*.json": ["prettier --write"],
  "package.json": ["prettier-package-json --write", "prettier --write"],
  ".*rc": ["prettier --parser json --write"]
}

docs: fix some docs
  docs/Popover.md
  docs/Tooltip.md
  docs/lab/Tabs.md
Due: none

fix(textfield): optional type
  packages/tailor-ui/src/TextField/TextField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor: use styled-system v5
  docs/UIProvider.md
  docs/layout/Responsive.md
  package.json
  packages/tailor-ui-theme/src/theme.ts
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Divider/Divider.tsx
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  packages/tailor-ui/src/Dropdown/styles.ts
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Layout/Box.ts
  packages/tailor-ui/src/Layout/Flex.ts
  packages/tailor-ui/src/Layout/Grid.ts
  packages/tailor-ui/src/Menu/__tests__/__snapshots__/Menu.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  packages/tailor-ui/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui/src/Steps/__tests__/__snapshots__/Steps.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
  packages/tailor-ui/src/Tabs/Tabs.tsx
  packages/tailor-ui/src/Typography/Text.ts
  packages/tailor-ui/src/Typography/__tests__/__snapshots__/Text.spec.tsx.snap
  src/context/LocaleContext.js
  src/theme/CodeBlock/index.js
  src/theme/Layout/index.js
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: update size-snapshot
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

fix: remove @import statements from globalStyle
  package.json
  packages/tailor-ui-theme/src/__tests__/index.spec.ts
  packages/tailor-ui-theme/src/fontStyle.ts
  packages/tailor-ui-theme/src/globalStyle.ts
  packages/tailor-ui-theme/src/index.ts
  packages/tailor-ui/package.json
  packages/tailor-ui/src/UIProvider/UIProvider.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: update size-snapshot
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore: bump deps
  package.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Button/__tests__/__snapshots__/Button.spec.tsx.snap
  packages/tailor-ui/src/Spin/__tests__/__snapshots__/Spin.spec.tsx.snap
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor(breadcrumb): re-render when parent width is changed
  docs/Breadcrumb.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-hooks/src/useMeasure.ts
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Breadcrumb/Breadcrumb.tsx
  packages/tailor-ui/src/Breadcrumb/__tests__/Breadcrumb.spec.tsx
  packages/tailor-ui/src/Breadcrumb/__tests__/__snapshots__/Breadcrumb.spec.tsx.snap
  packages/tailor-ui/src/Breadcrumb/styles.ts
  packages/tailor-ui/src/PageHeader/PageHeader.tsx
  sidebars.js
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

test: use mockRaf instead of wait function
  packages/tailor-ui/src/Alert/__tests__/Alert.spec.tsx
  packages/tailor-ui/src/Dropdown/__tests__/Dropdown.spec.tsx
  packages/tailor-ui/src/Dropdown/__tests__/Dropdown.tsx
  packages/tailor-ui/src/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  packages/tailor-ui/src/FormField/__tests__/FormField.spec.tsx
  packages/tailor-ui/src/Modal/__tests__/useModal.spec.tsx
  packages/tailor-ui/src/Popover/__tests__/Popover.spec.tsx
  packages/tailor-ui/src/Select/__tests__/Select.spec.tsx
  packages/tailor-ui/src/Tag/__tests__/Tag.spec.tsx
  packages/tailor-ui/src/message/__tests__/message.spec.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix: change confirmText & cancelText type to ReactNode
  packages/tailor-ui/src/Modal/Footer.tsx
  packages/tailor-ui/src/Modal/HooksModal.tsx
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

refactor(select): use react-window instead of react-tiny-virtual-list
  package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Select/SelectOptions.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(select): update locale
  packages/tailor-ui/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/locale/locales/en_US.ts
  packages/tailor-ui/src/locale/locales/zh_Hant.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

feat(badge): implement Badge component
  docs/Badge.md
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Badge/Badge.tsx
  packages/tailor-ui/src/Badge/__tests__/Badge.spec.tsx
  packages/tailor-ui/src/Badge/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/tailor-ui/src/Badge/index.ts
  packages/tailor-ui/src/Badge/styles.ts
  packages/tailor-ui/src/__tests__/index.spec.ts
  packages/tailor-ui/src/index.ts
  sidebars.js
  test/test-utils.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

fix(provider): move datePickerStyle from GlobalStyle into its component to prevent tests slowly
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/DatePicker/styles/index.ts
  packages/tailor-ui/src/GlobalStyle/GlobalStyle.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs: fix typo
  docs/Badge.md
  docs/DatePicker.md
  docs/Modal.md
  docs/Popconfirm.md
  docs/Slider.md
  docs/message.md
  packages/tailor-ui/src/Badge/__tests__/Badge.spec.tsx
  packages/tailor-ui/src/Badge/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/tailor-ui/src/Slider/__tests__/Slider.spec.tsx
  packages/tailor-ui/src/Slider/__tests__/__snapshots__/Slider.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(date-picker): render correctly styles
  packages/tailor-ui/src/DatePicker/DatePicker.tsx
  packages/tailor-ui/src/DatePicker/styles/index.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(drawer): remove default padding x
  docs/Drawer.md
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

feat(badge): add new API showZero & animation
  docs/Badge.md
  packages/tailor-ui/src/Badge/Badge.tsx
  packages/tailor-ui/src/Badge/__tests__/Badge.spec.tsx
  packages/tailor-ui/src/Badge/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/tailor-ui/src/Badge/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): should only remove item when the x button clicked
  packages/tailor-ui/src/Select/Select.tsx
  packages/tailor-ui/src/Select/SelectedOption.tsx
  packages/tailor-ui/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update size-snapshot
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

fix: remove margin-right of loading spinner when use icon button
  docs/Button.md
  packages/tailor-ui/src/Button/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Mention/__tests__/Mention.spec.tsx
  packages/tailor-ui/src/Upload/__tests__/Upload.spec.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

style(table): add box-shadow
  packages/tailor-ui/src/Table/Table.tsx
  packages/tailor-ui/src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/tailor-ui/src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix: table props
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Table/Table.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write
