Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

feat(modal): support customized header
  src/Drawer/Drawer.tsx
  src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  src/Modal/Footer.tsx
  src/Modal/Header.tsx
  src/Modal/Modal.tsx
  src/Modal/__tests__/Modal.spec.tsx
  src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  src/Modal/styles.ts
  website/docs/Modal.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

feat(table): implement scrollable fixed table & usage with Container
  src/Container/Container.tsx
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  src/Container/styles.ts
  src/Table/Column.tsx
  src/Table/FixedColumnContext.tsx
  src/Table/HeadColumn.tsx
  src/Table/Table.tsx
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  src/Table/styles.ts
  src/hooks/useMeasure.ts
  website/docs/Container.md
  website/docs/Table.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  dbc2cbfcde7e614cdbdb6a1131db54b2a98a54f5
Due: none

fix(table): column types
  src/Table/Column.tsx
  src/Table/FixedColumnContext.tsx
  src/Table/HeadColumn.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  ec976bd773401cf458bfab8088961a903270f409
Due: none

fix(table): add width 100% to table
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  51dd493a41a50596e4c561b48510460c669de1e5
Due: none

fix(table): watch table width resize to update scroll shadow
  src/Table/Table.tsx
  website/docs/Table.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.7.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  bb701aa1594b943979aa650067fcc32742452957
Due: none

chore: bump deps
  .eslintrc.js
  package.json
  src/Alert/BaseAlert.tsx
  src/Alert/__tests__/Alert.spec.tsx
  src/FormField/__tests__/FormField.spec.tsx
  src/Input/Input.tsx
  src/Table/Column.tsx
  src/Table/HeadColumn.tsx
  src/Table/Table.tsx
  src/Tag/__tests__/Tag.spec.tsx
  src/hooks/useMeasure.ts
  src/lab/Tooltip/Tooltip.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

fix(table): add position relative to wrapper prevent parent scrollable
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(message): prevent dom not match between SSR and CSR
  src/message/HooksMessage.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.7.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  5872f607509986ebf1ce4656b0cbbc2e51092c0c
Due: none

style(table): move position relative from wrapper to table
  src/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  src/Table/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: bump deps
  package.json
  src/message/HooksMessage.tsx
  src/message/__tests__/__snapshots__/message.spec.tsx.snap
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump website deps
  website/package.json
  website/yarn.lock
Due: prettier --write, prettier-package-json --write

feat(notification): implement useNotification
  src/Backdrop/__tests__/__snapshots__/Backdrop.spec.tsx.snap
  src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  src/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  src/Tooltip/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  src/UIProvider/UIProvider.tsx
  src/__tests__/index.spec.ts
  src/constants/StackingOrder.ts
  src/index.ts
  src/message/HooksMessage.tsx
  src/message/HooksMessageProvider.tsx
  src/message/__tests__/__snapshots__/message.spec.tsx.snap
  src/message/useMessage.ts
  src/notification/HooksNotification.tsx
  src/notification/HooksNotificationProvider.tsx
  src/notification/__tests__/__snapshots__/notification.spec.tsx.snap
  src/notification/__tests__/notification.spec.tsx
  src/notification/index.ts
  src/notification/useNotification.ts
  website/docs/notification.md
  website/sidebars.js
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs: use prettier
  .lintstagedrc
  website/docs/Badge.md
  website/docs/Breadcrumb.md
  website/docs/Button.md
  website/docs/Checkbox.md
  website/docs/Container.md
  website/docs/DatePicker.md
  website/docs/Drawer.md
  website/docs/Dropdown.md
  website/docs/FormField.md
  website/docs/Input.md
  website/docs/Mention.md
  website/docs/Menu.md
  website/docs/Modal.md
  website/docs/PageHeader.md
  website/docs/Popconfirm.md
  website/docs/Popover.md
  website/docs/Radio.md
  website/docs/Select.md
  website/docs/Slider.md
  website/docs/Steps.md
  website/docs/Switch.md
  website/docs/Table.md
  website/docs/Tag.md
  website/docs/TextField.md
  website/docs/Tooltip.md
  website/docs/UIProvider.md
  website/docs/Upload.md
  website/docs/message.md
  website/docs/notification.md
  website/src/theme/Playground/index.js
  website/src/theme/Playground/styles.module.css
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --parser json --write

fix(container): add padding top to container children when not title
  src/Container/Container.tsx
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  website/docs/Container.md
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  d7a6310d477138dca2075c744573aa0734940135
Due: none

fix(notification): update type and stacking order
  src/Backdrop/__tests__/__snapshots__/Backdrop.spec.tsx.snap
  src/Drawer/__tests__/__snapshots__/Drawer.spec.tsx.snap
  src/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/Modal/__tests__/__snapshots__/useModal.spec.tsx.snap
  src/Popconfirm/__tests__/__snapshots__/Popconfirm.spec.tsx.snap
  src/Popover/__tests__/__snapshots__/Popover.spec.tsx.snap
  src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  src/Tooltip/__tests__/__snapshots__/Tooltip.spec.tsx.snap
  src/constants/StackingOrder.ts
  src/message/__tests__/__snapshots__/message.spec.tsx.snap
  src/notification/__tests__/__snapshots__/notification.spec.tsx.snap
  src/notification/useNotification.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix: use isomorphic effect to prevent hooks method not work in effect
  src/Modal/HooksModal.tsx
  src/Modal/HooksModalProvider.tsx
  src/message/HooksMessage.tsx
  src/notification/HooksNotification.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(positioner): remove dynamic config to fix component delay unmount
  src/Positioner/Positioner.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  048b302f51558720697a9eb291cb1ca974627790
Due: none

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(container): remove overflow: hidden
  src/Container/Container.tsx
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  src/Container/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  1a6c0a70b3c981998363f0b15b6b9b0c9b2cb1a2
Due: none

fix(container): update type & add some tests
  src/Container/Container.tsx
  src/Container/__tests__/Container.spec.tsx
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

Notes added by 'git notes add'
  ade0ace9308422b72222c66e4f8780b03a9f3af8
Due: none

fix(container): add overflow to children element
  src/Container/Container.tsx
  src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  src/Container/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

Path conditions:
  eslint --ext=ts,tsx --fix: any of: *.{js,ts,tsx}
  stylelint: any of: *.{js,ts,tsx}
  prettier --parser typescript --write: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.json) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
