Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, prettier --write, prettier-package-json --write, prettier --parser json --write

refactor(modal): Drop handleClose
  src/Modal/BaseModal.js
  src/Modal/CloseButton.js
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/__tests__/index.spec.js
  src/Modal/index.js
  src/Modal/index.mdx
  src/Modal/instance.js
Due: eslint --fix, stylelint

refactor(button): more readability
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
Due: eslint --fix, stylelint

feat(steps): impelment steps component
  src/Steps/index.js
  src/Steps/index.mdx
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, stylelint

refactor(step): use PropTypes instead of t
  src/Steps/index.js
Due: eslint --fix, stylelint

v1.11.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

style(alert): update animation & background-color
  src/Alert/BaseAlert.js
  src/Alert/index.js
  src/Alert/index.mdx
Due: eslint --fix, stylelint

refactor: move transition utils to theme
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
  src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  src/Checkbox/index.js
  src/Dropdown/index.js
  src/Icon/__tests__/__snapshots__/Icon.spec.js.snap
  src/Icon/index.js
  src/Input/index.js
  src/Radio/__tests__/__snapshots__/index.spec.js.snap
  src/Radio/index.js
  src/Steps/index.js
  src/Tabs/index.js
  src/theme/index.js
  src/utils/__tests__/label.spec.js
  src/utils/label.js
  src/utils/transition.js
Due: eslint --fix, stylelint

feat(button): add icon prop
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
  src/Button/index.mdx
Due: eslint --fix, stylelint

refactor(checkbox): new API inspired from ant design
  src/Checkbox/Checkbox.js
  src/Checkbox/CheckboxField.js
  src/Checkbox/CheckboxGroup.js
  src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  src/Checkbox/__tests__/index.spec.js
  src/Checkbox/index.js
  src/Checkbox/index.mdx
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, stylelint

feat(checkbox): support component composition
  src/Checkbox/Checkbox.js
  src/Checkbox/CheckboxContext.js
  src/Checkbox/CheckboxGroup.js
  src/Checkbox/index.mdx
Due: eslint --fix, stylelint

refactor(checkbox): more readability
  src/Checkbox/CheckboxContext.js
  src/Checkbox/CheckboxGroup.js
  src/Checkbox/index.mdx
Due: eslint --fix, stylelint

chore(deps): upgrade babel to 7.0.0 (#301)
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor(checkbox): use css sibling
  src/Checkbox/Checkbox.js
  src/Checkbox/CheckboxGroup.js
  src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
Due: eslint --fix, stylelint

feat(tag): implement Tag component (#305)
  src/Tag/index.js
  src/Tag/index.mdx
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, stylelint

refactor(radio): new API inspired from ant design
  src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  src/Radio/Radio.js
  src/Radio/RadioContext.js
  src/Radio/RadioField.js
  src/Radio/RadioGroup.js
  src/Radio/__tests__/__snapshots__/index.spec.js.snap
  src/Radio/__tests__/index.spec.js
  src/Radio/index.js
  src/Radio/index.mdx
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, stylelint

v1.12.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat(alert): add onClosed
  src/Alert/index.js
  src/Alert/index.mdx
Due: eslint --fix, stylelint

fix(button): hide button icon when loading
  src/Button/index.js
Due: eslint --fix, stylelint

fix(switch): controlled can not own checked state (#315)
  src/Switch/index.js
  src/Switch/index.mdx
Due: eslint --fix, stylelint

feat(modal): add return promise to modal instance methods (#314)
  src/Modal/index.mdx
  src/Modal/instance.js
Due: eslint --fix, stylelint

feat(mention): impelment mention component (#316)
  package.json
  src/Input/index.js
  src/Mention/index.js
  src/Mention/index.mdx
  src/__tests__/index.spec.js
  src/index.js
  yarn.lock
Due: eslint --fix, stylelint, prettier --write, prettier-package-json --write

v1.13.0
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

feat(dropdown): add onVisibleChange callback
  src/Dropdown/index.js
Due: eslint --fix, stylelint

refactor(dropdown): move List & Item to file
  src/Dropdown/DropdownContext.js
  src/Dropdown/Item.js
  src/Dropdown/List.js
  src/Dropdown/index.js
Due: eslint --fix, stylelint

feat(dropdown): implement SubList
  src/Dropdown/Item.js
  src/Dropdown/List.js
  src/Dropdown/SubList.js
  src/Dropdown/index.js
  src/Dropdown/index.mdx
Due: eslint --fix, stylelint

style: add a link style
  src/injectGlobalCss/base.js
Due: eslint --fix, stylelint

refactor(modal): use react portal to render modal
  src/Modal/index.js
Due: eslint --fix, stylelint

fix(modal): add overflow-y: auto to modal content
  src/Modal/__tests__/__snapshots__/index.spec.js.snap
  src/Modal/index.js
  src/Modal/index.mdx
Due: eslint --fix, stylelint

docs(icon): fix key missing & add with text example
  src/Icon/index.mdx
Due: none

feat(button): add only icon suppored & improve loading status
  src/Button/__tests__/__snapshots__/index.spec.js.snap
  src/Button/index.js
  src/Button/index.mdx
Due: eslint --fix, stylelint

v1.13.1
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(modal): use portal with SSR
  src/Modal/index.js
Due: eslint --fix, stylelint

v1.13.2
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

fix(dropdown): dropdown list background color
  src/Dropdown/List.js
Due: eslint --fix, stylelint

fix(tabs): add default tab color
  src/Tabs/index.js
Due: eslint --fix, stylelint

v1.13.3
  CHANGELOG.md
  package.json
Due: prettier --write, prettier-package-json --write

chore(deps): bump deps
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

refactor: drop styled-tools
  package.json
  src/Button/Ripple.js
  src/Form/FormField.js
  src/Heading/index.js
  src/Icon/index.js
  src/Input/Textarea.js
  src/Menu/Item.js
  src/Menu/index.mdx
  src/Tabs/index.js
  src/TextField/index.js
  src/Tooltip/BaseTooltip.js
  yarn.lock
Due: eslint --fix, stylelint, prettier --write, prettier-package-json --write

fix: remove font-size from `a` link
  src/injectGlobalCss/base.js
Due: eslint --fix, stylelint

Path conditions:
  eslint --fix: any of: *.js
  stylelint: any of: *.js
  prettier --write: (any of: *.{json,md}) or (any of: package.json)
  prettier-package-json --write: any of: package.json
  prettier --parser json --write: any of: .*rc
