Repository Yoctol/tailor-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write, prettier --parser json --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md,mdx}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}

chore: update size-snapshot
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-theme/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-theme/CHANGELOG.md
  packages/tailor-ui-theme/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

fix(modal): adjust width for small device
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

chore: update size-snapshot
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore: deprecate select & tag
  package.json
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-formik/src/SelectField/SelectField.tsx
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-lab/src/Select/Select.tsx
  packages/tailor-ui-lab/src/Select/index.ts
  packages/tailor-ui-lab/src/Tag/Tag.tsx
  packages/tailor-ui-lab/src/Tag/__tests__/Tag.spec.tsx
  packages/tailor-ui-lab/src/Tag/index.ts
  packages/tailor-ui-lab/src/__tests__/index.spec.ts
  packages/tailor-ui-lab/src/index.ts
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  packages/tailor-ui/src/AutoSizeInput/AutoSizeInput.tsx
  packages/tailor-ui/src/AutoSizeInput/index.ts
  packages/tailor-ui/src/Select/ClearIcon.tsx
  packages/tailor-ui/src/Select/MultiDownshift.tsx
  packages/tailor-ui/src/Select/Select.tsx
  packages/tailor-ui/src/Select/SelectArrow.tsx
  packages/tailor-ui/src/Select/SelectInput.tsx
  packages/tailor-ui/src/Select/SelectOptions.tsx
  packages/tailor-ui/src/Select/SelectedOption.tsx
  packages/tailor-ui/src/Select/__tests__/Select.spec.tsx
  packages/tailor-ui/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui/src/Select/index.ts
  packages/tailor-ui/src/Select/styles.ts
  packages/tailor-ui/src/Select/utils.ts
  packages/tailor-ui/src/Tag/Tag.tsx
  packages/tailor-ui/src/Tag/__tests__/Tag.spec.tsx
  packages/tailor-ui/src/Tag/__tests__/__snapshots__/Tag.spec.tsx.snap
  packages/tailor-ui/src/Tag/styles.ts
  packages/tailor-ui/src/index.ts
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

chore: bump deps
  .eslintrc.js
  package.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

fix(select): display correct label when pass string or number as value
  packages/tailor-ui/src/Select/Select.tsx
  packages/tailor-ui/src/Select/SelectInput.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs: fix select & tag docs
  docs/FormField.mdx
  docs/Popover.mdx
  docs/Select.mdx
  docs/Tag.mdx
  docs/lab/Select.mdx
  docs/lab/Tag.mdx
Due: prettier --write

chore(release): publish
  packages/tailor-ui-formik/CHANGELOG.md
  packages/tailor-ui-formik/package.json
  packages/tailor-ui-hooks/CHANGELOG.md
  packages/tailor-ui-hooks/package.json
  packages/tailor-ui-lab/CHANGELOG.md
  packages/tailor-ui-lab/package.json
  packages/tailor-ui-utils/CHANGELOG.md
  packages/tailor-ui-utils/package.json
  packages/tailor-ui/CHANGELOG.md
  packages/tailor-ui/package.json
Due: prettier --write, prettier-package-json --write

style(message): change backgroud color to gray800
  packages/tailor-ui/src/message/HooksMessage.tsx
  packages/tailor-ui/src/message/__tests__/__snapshots__/message.spec.tsx.snap
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(checkbox): use checkbox value as key
  packages/tailor-ui/src/Checkbox/CheckboxGroup.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(radio): use radio value as key
  packages/tailor-ui/src/Radio/RadioGroup.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

fix(select): keyboard usage & multiple height
  packages/tailor-ui/src/Select/SelectInput.tsx
  packages/tailor-ui/src/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  packages/tailor-ui/src/Select/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

chore: update netlify badge
  README.md
  docs/GetStarted.md
Due: prettier --write

chore: prevent show code refresh and add refresh button
  src/theme/Playground/index.js
Due: none

chore: refresh with edited code
  src/theme/CodeBlock/index.js
  src/theme/Playground/index.js
Due: none

chore: remove useless type def
  package.json
  packages/tailor-ui/.size-snapshot.json
  packages/tailor-ui/src/Button/Button.tsx
  packages/tailor-ui/src/Icon/Icon.tsx
  packages/tailor-ui/src/Input/Input.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

feat(TelInput): add FormField in TelInput, ref: #311
  docs/TelInput.md
  packages/tailor-ui/src/TelInput/TelInput.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

docs: add some docs
  .lintstagedrc
  docs/Alert.md
  docs/Button.md
  docs/Checkbox.md
  docs/Colors.js
  docs/Container.md
  docs/DatePicker.md
  docs/Divider.md
  docs/Drawer.md
  docs/Dropdown.md
  docs/FormField.md
  docs/Icon.md
  docs/Input.md
  docs/Mention.md
  docs/Modal.md
  docs/PageHeader.md
  docs/Popconfirm.md
  docs/Popover.md
  docs/Radio.md
  docs/Select.md
  docs/Tooltip.md
  packages/tailor-ui/src/Checkbox/Checkbox.tsx
  packages/tailor-ui/src/Divider/Divider.tsx
  packages/tailor-ui/src/Dropdown/DropdownItem.tsx
  packages/tailor-ui/src/Dropdown/DropdownSubList.tsx
  packages/tailor-ui/src/Input/Input.tsx
  packages/tailor-ui/src/Popconfirm/Popconfirm.tsx
  packages/tailor-ui/src/Popover/Popover.tsx
  packages/tailor-ui/src/Radio/Radio.tsx
  packages/tailor-ui/src/Radio/RadioGroup.tsx
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  sidebars.js
  src/theme/Playground/styles.module.css
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier --parser json --write

chore: bump deps
  .eslintignore
  package.json
  packages/tailor-ui/package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

docs: add more docs
  docs/Slider.md
  docs/Steps.md
  docs/Switch.md
  docs/Table.md
  docs/Tag.md
  docs/TextField.md
  docs/UIProvider.md
  docs/Upload.md
  docs/formik/CheckboxField.md
  docs/formik/InputField.md
  docs/formik/RadioField.md
  docs/formik/SelectField.md
  docs/formik/TextareaField.md
  docs/lab/Tabs.md
  packages/tailor-ui-lab/src/Tabs/Tabs.tsx
  packages/tailor-ui/src/Steps/Steps.tsx
  packages/tailor-ui/src/Switch/Switch.tsx
  packages/tailor-ui/src/TextField/TextField.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

docs: fix links
  docs/Select.md
  docs/layout/Flex.md
Due: prettier --write

docs: update sidebar structure
  docs/getting-started.md
  docusaurus.config.js
  sidebars.js
  src/pages/index.js
Due: prettier --write

refactor(container): use box as base component
  packages/tailor-ui/src/Container/Container.tsx
  packages/tailor-ui/src/Container/__tests__/__snapshots__/Container.spec.tsx.snap
  packages/tailor-ui/src/Container/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write

docs: implement new landing page
  docusaurus.config.js
  src/pages/index.js
  src/pages/styles.module.css
  src/theme/Footer/index.js
  src/theme/Footer/styles.module.css
  static/img/creator.svg
  static/img/favicon.ico
  static/img/favicon.png
  static/img/og-image.png
  static/img/seeker.svg
  static/img/tailor-ui-dark-horizon.svg
  static/img/tailor-ui-dark.svg
  static/img/tailor-ui-horizon.svg
  static/img/tailor-ui.svg
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
  static/img/yoctol-ai.svg
  static/img/yoctol_ai_logo.svg
Due: none

chore: fix babel transform runtime to reduce bundle size
  babel.config.js
  packages/tailor-ui-formik/.size-snapshot.json
  packages/tailor-ui-hooks/.size-snapshot.json
  packages/tailor-ui-lab/.size-snapshot.json
  packages/tailor-ui-utils/.size-snapshot.json
  packages/tailor-ui/.size-snapshot.json
Due: prettier --write

chore: fix landing page layout on mobile device
  src/pages/styles.module.css
  src/theme/Footer/styles.module.css
Due: none

chore: update company name
  docusaurus.config.js
  src/theme/Footer/index.js
Due: none

docs(datepicker): fix render crush docs and calendar padding
  docs/DatePicker.md
  packages/tailor-ui/src/DatePicker/styles/Calendar.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

refactor(positionser): use @reach/rect to re-implement
  packages/tailor-ui/package.json
  packages/tailor-ui/src/Popover/Popover.tsx
  packages/tailor-ui/src/Popover/PopoverPopup.tsx
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/Positioner/PositionerImpl.tsx
  packages/tailor-ui/src/Positioner/PositionerWrapper.tsx
  packages/tailor-ui/src/Tooltip/Tooltip.tsx
  packages/tailor-ui/src/Tooltip/TooltipPopup.tsx
  yarn.lock
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write, prettier-package-json --write

docs(button): add description
  docs/Button.md
  packages/tailor-ui/src/Button/styles.ts
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write, prettier --write

docs: fix website url
  docusaurus.config.js
Due: none

refactor(portal): add stack to portal
  packages/tailor-ui/src/Drawer/Drawer.tsx
  packages/tailor-ui/src/Modal/BaseModal.tsx
  packages/tailor-ui/src/Portal/Portal.tsx
  packages/tailor-ui/src/Positioner/Positioner.tsx
  packages/tailor-ui/src/message/HooksMessage.tsx
Due: eslint --ext=ts,tsx --fix, stylelint, prettier --parser typescript --write
